/*---------[ Font ]---------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@400;500;700&family=Tourney:wght@800&display=swap');

/*---------[ Color ]---------*/

:root {
    --ivory: #E7E7E0;
    --fuchsia: #D9276A;
    --darkgray: #6E6E6E;
    /*#575759*/
    --black: #070100;
    --blue: #5710E6;
}


body {
    font-family: 'Open Sans', serif;
    background-image: url("/static/images/wave.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 55px;
}

/*---------[ headings ]---------*/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', serif;
    font-weight: 700;
}

h1 {
    margin-top: 5rem;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.64rem;
}

h3 {
    font-size: 1.2rem;
}

.breakline {
    width: 100px;
    border: 2px var(--fuchsia) solid;
    background-color: var(--fuchsia);
    text-align: center;
    margin-bottom: 2rem;
}

.hyperlink {
    color: var(--blue);
}

/*--------[ buttons ]---------*/

.btn.contact-btn {
    background-color: var(--fuchsia);
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.page-footer a:hover,
.contact-btn:hover,
.btn.btn-send:hover {
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-width {
    width: 250px;
}

/*---------[ Margins ]---------*/

.margin-bottom {
    margin-bottom: 2rem;
}

.margin-top {
    margin-top: 2rem;
}

/*---------[ Navbar ]---------*/

nav {
    height: 60px;
    line-height: 60px;
    background-color: var(--ivory);
    box-shadow: none;
}

.dropdown-content {
    min-width: 175px !important;
    max-width: 300px !important;
    right: 2px !important;
    left: unset !important;
    top: 73px !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: var(--black) !important;
    border-bottom: 1px solid var(--ivory);
}

nav .brand-logo {
    color: var(--fuchsia) !important;
    font-family: 'Tourney', cursive;
    font-size: 2.3rem;
    font-weight: bold;
    padding-left: 15px;
}

.nav-btn {
    color: var(--black);
    font-size: 2rem;
}

.nav-item {
    color: var(--black);
    padding: 0 9px !important;
}

nav ul a:hover {
    background-color: transparent;
}

.nav-item:hover {
    transform: scaleY(1.08);
    filter: brightness(50%);
    font-weight: 600;
}

/*---------[ flashes ]------------*/

.flashes {
    color: var(--fuchsia);
    font-weight: 700;
}

/*---------[ faq ]------------*/

.question {
    color: var(--fuchsia);
    font-size: 1.8rem;
    font-weight: 700;
}

/*---------[ Log in ]-------------*/

.login-img {
    width: 100%;
    min-width: 375px;
    padding-left: 3rem;
}

/*--------[ profile page ]---------*/

.profile-img {
    width: 68.5px !important;
    height: 68.5px !important;
    object-fit: cover;
    border: 1px solid var(--ivory);
}

.profile-name {
    font-weight: 700;
    text-transform: capitalize;
}

.profile-icon {
    padding-right: 1rem;
}

/*---------[ Contact form ]---------*/

.contact-img {
    width: 100%;
    min-width: 375px;
    padding-left: 5rem;
}

.notifications-container {
    margin: 0;
}

input,
textarea {
    border-bottom: 1px solid var(--darkgray) !important;
}

input:focus,
textarea:focus {
    box-shadow: 0 1px 0 0 var(--blue) !important;
}

label {
    color: var(--darkgray) !important;
}

.required {
    color: var(--fuchsia);
}

.error-text {
    color: var(--fuchsia);
}

.error-text,
.helper-text {
    font-size: 0.75rem;
    margin: 0;
}

.hide {
    display: none;
}

.btn.btn-send {
    background-color: var(--blue);
}


/*---------[ Footer ]---------*/

.page-footer {
    background-color: var(--ivory);
}

.footer-text {
    color: var(--black);
}




/*---------[ Media queries ]---------*/

@media only screen and (min-width: 600px) {

    h1 {
        margin-top: 8rem;
    }

    nav .nav-wrapper {
        padding: 0 15px;
    }

    .profile-img {
        width: 100px !important;
        height: 100px !important;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo.left {
        left: 1rem;
    }
}

@media only screen and (min-width: 993px) {
    body {
        background-position: right 20px;
    }

    .container {
        width: 75%;

    }
}