/*---------[ Font ]---------*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@400;500;700&family=Tourney:wght@800&display=swap");

/*---------[ Color ]---------*/

:root {
    --ivory: #e7e7e0;
    --fuchsia: #d9276a;
    --darkgray: #6e6e6e;
    --black: #070100;
    --blue: #5710e6;
}

body {
    font-family: "Open Sans", serif;
    background-image: url("/static/images/wave.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 55px;
}

/*---------[ headings ]---------*/

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.64rem;
}

h3 {
    font-size: 1.2rem;
}

.breakline {
    width: 100px;
    border: 2px var(--fuchsia) solid;
    background-color: var(--fuchsia);
    text-align: center;
    margin-bottom: 2rem;
}

.hyperlink {
    color: var(--blue);
}

.page-link,
.page-link p {
    color: var(--black);
}

.page-link p:hover {
    color: var(--blue);
    font-size: 1.4rem !important;
}

.notification-subject {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 1.3rem;
}

.h2-page {
    margin-top: 1rem;
}

/*https://css-tricks.com/almanac/selectors/f/first-letter/*/
p::first-letter {
    text-transform: capitalize;
}

/*-------------[ buttons ]------------*/

.btn.contact-btn {
    background-color: var(--fuchsia);
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.btn.btn-attend,
.btn.btn-follow {
    background-color: #e7e7e08a;
    color: var(--black);
    font-weight: 600;
    border: 1px solid #6e6e6e6b;
}

.btn.btn-unattend,
.btn.btn-unfollow {
    position: absolute;
    top: 58px;
    right: 0;
    background-color: #e7e7e0e7;
    color: var(--black);
    font-weight: 600;
    border: 1px solid #6e6e6e6b;
}

.btn-interest {
    background-color: var(--ivory);
    color: var(--black);
    font-weight: 600;
    border: 1px solid var(--darkgray);
    text-align: center;
    box-shadow: 0px 0px 5px var(--black);
}

.btn-interested {
    background-color: var(--blue);
    color: #ffffff;
    font-weight: 600;
    border: 1px solid var(--darkgray) !important;
    text-align: center;
    box-shadow: 0px 1px 5px var(--darkgray);
}

.btn-floating i {
    width: initial;
    font-size: 1.6rem;
    text-align: center;
    line-height: 37px;
    color: inherit;
}

.btn.btn-send,
.btn.btn-attending,
.btn.btn-following {
    background-color: var(--blue);
}

.page-footer a:hover,
.contact-btn:hover,
.btn.btn-send:hover,
.btn.btn-attend:hover,
.btn.btn-attending:hover,
.btn.btn-unattend:hover,
.btn.btn-follow:hover,
.btn.btn-following:hover,
.btn.btn-unfollow:hover {
    transform: scale(1.06);
    box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.164) inset;
}

.btn-floating:hover {
    background-color: var(--ivory);
    transform: scale(1.1);
}

.btn-floating.btn-interested:hover {
    background-color: var(--blue);
    transform: scale(1.1);
}

.close-form:hover {
    transform: scale(1.1);
}

.btn-width {
    width: 250px;
}

.password-visible {
    font-size: 1.4rem !important;
    color: var(--black);
    position: absolute !important;
    z-index: 2 !important;
    top: 0.85rem !important;
    right: 1.3rem !important;
}

.password-visible:hover {
    font-size: 1.35rem !important;
}

.btn-home {
    top: -45px !important;
    right: 0px !important;
}

/*-------------[ Tabs ]--------------*/

.tabs {
    height: 40px;
}

.tabs .tab a {
    color: var(--black);
    background: var(--ivory) !important;
    border-radius: 3px;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: var(--darkgray) !important;
    color: #fafafa;
    font-weight: 700;
}

.tabs .indicator {
    background-color: var(--black);
}

.tabs .tab {
    line-height: 40px;
}

/*------------[ Margins ]------------*/

.margin-bottom {
    margin-bottom: 2rem;
}

.margin-top {
    margin-top: 2rem;
}

.small-pd-top {
    padding-top: 1rem !important;
}

.mg-right {
    margin-right: 0.75rem !important;
}

.mg-left {
    margin-left: 1rem !important;
}

.remove-mg-top {
    margin-top: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.remove-pd {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*-----------[ Borders ]-----------*/

.border-top {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

/*-----------[ Navbar ]-----------*/

nav {
    height: 60px;
    line-height: 60px;
    background-color: var(--ivory);
    box-shadow: none;
}

.dropdown-trigger {
    background-color: transparent;
    border: none;
}

button:focus {
    outline: none;
    background-color: transparent;
}

.dropdown-content {
    min-width: 200px !important;
    max-width: 300px !important;
    right: 9px !important;
    left: unset !important;
    top: 60px !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: var(--black) !important;
    border-bottom: 1px solid var(--ivory);
}

nav ul a {
    cursor: default !important;
    transition: none;
}

nav .brand-logo {
    color: var(--fuchsia) !important;
    font-family: "Tourney", cursive;
    font-size: 2.3rem;
    font-weight: bold;
}

.nav-btn {
    color: var(--black);
    font-size: 2rem;
    padding-right: 9px;
    padding-top: 1rem;
}

.nav-item {
    color: var(--black);
    padding: 0 9px !important;
    position: relative;
}

nav ul a:hover {
    background-color: transparent;
}

.nav-item:hover {
    transform: scaleY(1.08);
    filter: brightness(50%);
    font-weight: 600;
}

button.nav-item.dropdown-trigger {
    border: none;
    background-color: transparent;
}

.new-notification {
    position: absolute;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background: var(--fuchsia);
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    right: 0px;
    top: 5px;
}

/*---------[ Back buttons ]----------*/

.back-btn {
    position: absolute;
    left: -5px;
    top: -15px;
    color: var(--darkgray);
    background: transparent;
    border: none;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.back-btn:hover,
.back-btn:focus {
    transform: scale(1.1);
    background-color: inherit;
}

/*------------[ borders ]-------------*/

.border-grey {
    border: 1px solid #6e6e6e6b;
}

/*---------[ flashes ]------------*/

.flashes {
    color: var(--fuchsia);
    font-weight: 700;
    text-align: center;
}

main{
    min-height: 50vh;
}
/*-------[ homepage ]------------*/

.head-container,
.home-container {
    margin-top: 4.75rem;
    position: relative;
}

.home-container h1 {
    font-family: "Tourney", cursive;
    margin-bottom: 2.85rem;
}

.p-home-container {
    font-family: "Open Sans", serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1.75rem 0 1.25rem 0;
}

.home-container form {
    margin-top: 25px;
}

.banner-image {
    padding-top: 25px;
}

.heading {
    font-size: 2.5rem;
}

.small-heading {
    margin-top: 1rem;
    margin-bottom: 2.1rem;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.list-item {
    padding-bottom: 0.65rem;
}

.list-icon {
    padding-right: 2rem;
    color: var(--fuchsia);
    font-size: 1.2rem;
}

.last-card-image {
    padding: 1.05rem 3rem !important;
}

.card .card-image img {
    object-fit: cover;
    max-height: 184px;
    width: 100% !important;
}

.last-img {
    max-height: 300px !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: white;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.date-time {
    color: var(--fuchsia) !important;
    font-weight: 600;
}

.event-title {
    padding-top: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Open Sans", serif;
    line-height: initial;
    margin: 0.5rem 0 0.5rem 0;
}

.organiser {
    font-size: 1rem;
    padding-bottom: 7px;
    text-transform: capitalize;
}

.location {
    font-size: 0.9rem;
    text-transform: capitalize;
}

.p-loc-home {
    height: 36px;
}

.attendees {
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.card-action {
    margin-top: 15px;
    padding: 16px 0 0 0 !important;
}

.action-container {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.btn-container {
    min-height: 36px !important;
}

.attendee-container {
    padding-right: 0 !important;
}

.p-attendee {
    text-transform: lowercase;
}

/*--------[ Homepage carousel ]------*/

.main-carousel {
    margin-bottom: 3.5rem;
}

.carousel-cell {
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
}

.flickity-prev-next-button.previous {
    top: unset;
    bottom: -16%;
    left: 0;
}

.flickity-prev-next-button.next {
    top: unset;
    bottom: -16%;
    right: 0;
}

.flickity-page-dots {
    bottom: -8%;
    left: 10%;
    width: 80%;
}

/*-------[ Horizontal cards ]-------*/

.card.horizontal {
    flex-direction: column !important;
}

.horizontal-card-img {
    min-height: 100%;
    object-fit: cover;
}

.card.horizontal .card-image {
    max-width: 100% !important;
}

.hor-card-btn {
    position: absolute;
    right: 16px !important;
    bottom: unset !important;
    top: -20px !important;
    text-align: center;
}

.hor-event {
    right: 0 !important;
    bottom: 0 !important;
    top: unset !important;
}

.gp-description {
    margin-top: 0.75rem !important;
}

.btn-action-event {
    left: 0;
    right: unset;
}

/*------[ groups / events ]------*/

.col-head {
    position: relative;
    width: 100%;
}

.section-container {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--darkgray) !important;
}

.card-summary {
    box-shadow: none !important;
}

.card-content.fa-ul {
    margin-left: 2em;
}

.card-content.fa-ul.li {
    font-size: 1.4rem;
}

.p-full {
    text-transform: uppercase;
    color: var(--fuchsia);
    font-weight: 700;
    font-size: 1.2rem;
}

.collection {
    border: none;
}

.collection .collection-item.avatar {
    min-height: 60px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.collection .collection-item {
    line-height: 34px !important;
    border-radius: 3px;
    border: 1px solid #e0e0e0 !important;
}

.collection .collection-item.avatar:not(.circle-clipper)>.circle,
.collection .collection-item.avatar :not(.circle-clipper)>.circle {
    object-fit: cover;
}

.dropdown-content.dropdown-for-btn {
    right: 20px !important;
    top: 60px !important;
}

.p-separator {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding-top: 20px;
}

.btn-container {
    position: relative;
}

.map-container {
    margin-top: 1.25rem !important;
}

.qa-container {
    padding: 1rem !important;
    border: 1px solid #e0e0e0;
}

.qa-container .question {
    font-size: 1.4rem;
}

.cancelled-cont {
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 0 !important;
}

.li-page {
    color: var(--fuchsia);
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

.qa_link {
    color: var(--blue);
}

.qa-link i {
    font-size: 1.2rem;
}

.title {
    text-transform: capitalize;
    font-size: inherit !important;
}

/*---------[ notifications ]---------*/

.collapsible-body {
    padding: 1rem 2rem;
    background-color: #e7e7e038;
}

.btn-gp-collapsible {
    margin-top: 1.3rem;
    padding-top: 1.2rem !important;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.inline-form {
    display: inline;
}

.notification-boby {
    text-transform: capitalize;
    font-weight: 500;
}

/*--------------[ faq ]---------------*/

.question {
    color: var(--fuchsia);
    font-size: 1.8rem;
    font-weight: 700;
}

/*------------[ Log in ]--------------*/

.login-img {
    /* border: 1px solid; */
    width: 100%;
    height: 405px;
    background-image: url(/static/images/app-signin.svg);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 37% 75%;
}

/*----------[ profile page ]-----------*/

.profile-container {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--darkgray) !important;
}

.profile-img {
    height: 100% !important;
    max-width: 70px !important;
    max-height: 70px !important;
    width: 70px !important;
    height: 70px !important;
    border: 1px solid var(--ivory);
    object-fit: cover;
}

.profile-name {
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 1rem;
}

.profile-icon {
    padding-right: 1rem;
    font-size: 1.7rem;
}

/*-------------[ Modals ]--------------*/

.modal {
    top: 5% !important;
    max-height: 90%;
}

.content-profile {
    padding: 45px 25px !important;
}

.modal-content p {
    max-width: 90%;
    margin: 0 auto;
}

.close-form {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
}

.modal-forms {
    width: 80% !important;
    margin: 0 auto;
}

/*-----------[ Contact form ]-----------*/

.contact-img {
    width: 100%;
    min-width: 375px;
    padding-left: 5rem;
}

.select-wrapper input.select-dropdown {
    font-size: inherit;
}

.notifications-container {
    margin: 0;
}

input,
textarea {
    border-bottom: 1px solid var(--darkgray) !important;
}

.input-field .prefix.active {
    color: var(--fuchsia);
}

input:focus,
textarea:focus {
    box-shadow: 0 1px 0 0 var(--blue) !important;
}

label {
    color: var(--darkgray) !important;
}

.required {
    color: var(--fuchsia);
}

.error-text {
    color: var(--fuchsia);
}

.error-text,
.helper-text {
    font-size: 0.75rem;
    margin: 0;
}

.hide {
    display: none;
}

.input-field input[type="text"].valid,
textarea.materialize-textarea.valid {
    border-bottom: 1px solid #000;
    box-shadow: none;
}

.input-field input[type="text"].invalid {
    border-bottom: 1px solid #000;
    box-shadow: none;
}

input:focus,
textarea:focus {
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field .prefix.active {
    color: #000;
}

.datepicker-date-display {
    background-color: var(--ivory);
    color: var(--black);
}

.datepicker-date-display .year-text {
    color: var(--darkgray);
}

.timepicker-digital-display {
    background-color: var(--ivory);
    color: var(--black);
}

.text-primary,
.timepicker-text-container {
    color: var(--black) !important;
}

/*----------[ Error pages ]-----------*/

.error-container {
    flex-direction: column;
}

.h1-error {
    margin-top: 3rem;
}

.error-container img {
    margin-top: 3rem;
}

.p-error {
    font-size: 1.2rem;
}

/*------------[ Footer ]-------------*/

.page-footer {
    background-color: var(--ivory);
    margin-top: 4rem;
}

.footer-text {
    color: var(--black);
}

/*------------[ Media queries ]---------*/

@media only screen and (max-width: 600px) {
    .event-card-content {
        padding-bottom: 0 !important;
        padding-left: 10.5px !important;
    }
}

@media only screen and (min-width: 600px) {
    nav {
        padding: 0 15px !important;
    }

    .home-container {
        margin-top: 9rem;
    }

    .head-container {
        margin-top: 7.75rem;
    }

    .home-container h1 {
        margin-top: 2.5rem;
    }

    .small-pd-top {
        padding-top: 0 !important;
    }

    .align-right-md {
        text-align: right !important;
    }

    .h1-error {
        margin-top: 3rem;
    }

    .carousel-cell {
        width: 48%;
        min-width: 350px;
        margin-right: 0.75rem;
        margin-left: 1rem;
    }

    .back-btn {
        position: absolute;
        top: 2.6rem;
        font-size: 2.8rem;
    }

    .card.horizontal {
        flex-direction: row !important;
    }

    .event-card-content {
        padding-right: 0 !important;
    }

    .card.horizontal .card-image {
        max-width: 40% !important;
        width: 40%;
    }

    .card-stacked {
        width: 60%;
    }

    .hor-card-btn {
        position: absolute;
        right: 16px !important;
        bottom: unset !important;
        top: 8px !important;
    }

    .map-container {
        padding-right: 0 !important;
        margin-top: 1.25rem !important;
        margin-bottom: 0.75rem;
    }

    .profile-img {
        position: relative;
        max-width: 110px !important;
        max-height: 110px !important;
        width: 110px !important;
        height: 110px !important;
    }

    .profile-img-modal {
        position: relative;
        width: 60px !important;
        height: 60px !important;
    }

    .resize {
        max-width: 70px !important;
        max-height: 70px !important;
    }

    .col-add-group {
        margin: 1.3rem 0 1rem 0 !important;
        text-align: right;
    }
}

@media only screen and (max-width: 992px) {
    .banner-image {
        padding-top: 45px;
    }
}

@media only screen and (min-width: 993px) {
    body {
        background-position: right 20px;
    }

    .head-container {
        margin-top: 8.25rem;
    }

    nav {
        padding: 0 35px !important;
    }

    .container {
        width: 75%;
    }

    .home-container form {
        margin-top: 4rem;
    }

    .banner-image {
        padding-top: 0px;
    }

    .carousel-cell {
        width: 31%;
        min-width: 372px;
        margin-right: 0rem;
        margin-left: 1rem;
    }

    .flickity-prev-next-button.previous {
        top: 50%;
        left: -55px;
    }

    .flickity-prev-next-button.next {
        top: 50%;
        right: -55px;
    }

    .flickity-page-dots {
        bottom: -8%;
    }

    .card-summary .card-content {
        padding-left: 3rem !important;
    }

    .error-container {
        height: 70vh !important;
        min-height: 400px;
        width: 100%;
        flex-direction: row;
    }

    .error-container img {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        max-width: 1500px;
        background-position: center 20px;
        background-size: 1500px;
        margin: 0 auto;
    }

    nav .nav-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) and (min-height: 900px) {
    main.container {
        min-height: 60vh;
        margin-top: 12rem;
    }
}