/*---------[ Font ]---------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@400;500;700&family=Tourney:wght@800&display=swap');

/*---------[ Color ]---------*/

:root {
    --ivory: #E7E7E0;
    --fuchsia: #D9276A;
    --darkgray: #6E6E6E;
    /*#575759*/
    --black: #070100;
    --blue: #5710E6;
    --imgHeight: auto;
}


body {
    font-family: 'Open Sans', serif;
    background-image: url("/static/images/wave.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 55px;
}

/*---------[ headings ]---------*/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', serif;
    font-weight: 700;
}

h1 {
    /* margin-top: 5rem;*/
    font-size: 2.5rem;
}

h2 {
    font-size: 1.64rem;
}

h3 {
    font-size: 1.2rem;
}

.breakline {
    width: 100px;
    border: 2px var(--fuchsia) solid;
    background-color: var(--fuchsia);
    text-align: center;
    margin-bottom: 2rem;
}

.hyperlink {
    color: var(--blue);
}

/*--------[ buttons ]---------*/

.btn.contact-btn {
    background-color: var(--fuchsia);
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.btn.btn-attend {
    background-color: #e7e7e08a;
    color: var(--black);
    font-weight: 600;
    border: 1px solid #6e6e6e6b;
}

.btn-interest {
    background-color: var(--ivory);
    color: var(--black);
    font-weight: 600;
    border: 1px solid var(--darkgray);
}

.btn-interest i {
    color: var(--black)
}

.page-footer a:hover,
.contact-btn:hover,
.btn.btn-send:hover,
.btn.btn-attend:hover,
.btn-interest {
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-floating:hover {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--ivory);
    transform: scale(1.1);
}

.close-form:hover {
    font-weight: bold;
    font-size: 2.2rem;
}

.btn-width {
    width: 250px;
}

.password-visible {
    font-size: 1.4rem !important;
    color: var(--black);
    position: absolute !important;
    z-index: 2 !important;
    top: 0.85rem !important;
    right: 1.3rem !important;
}

.password-visible:hover {
    font-size: 1.35rem !important;
}

/*---------[ Margins ]---------*/

.margin-bottom {
    margin-bottom: 2rem;
}

.margin-top {
    margin-top: 2rem;
}

/*---------[ Navbar ]---------*/

nav {
    height: 60px;
    line-height: 60px;
    background-color: var(--ivory);
    box-shadow: none;
}

.dropdown-content {
    min-width: 175px !important;
    max-width: 300px !important;
    right: 2px !important;
    left: unset !important;
    top: 73px !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: var(--black) !important;
    border-bottom: 1px solid var(--ivory);
}

nav .brand-logo {
    color: var(--fuchsia) !important;
    font-family: 'Tourney', cursive;
    font-size: 2.3rem;
    font-weight: bold;
    padding-left: 15px;
}

.nav-btn {
    color: var(--black);
    font-size: 2rem;
}

.nav-item {
    color: var(--black);
    padding: 0 9px !important;
}

nav ul a:hover {
    background-color: transparent;
}

.nav-item:hover {
    transform: scaleY(1.08);
    filter: brightness(50%);
    font-weight: 600;
}

/*---------[ flashes ]------------*/

.flashes {
    color: var(--fuchsia);
    font-weight: 700;
    text-align: center;
}

/*-------[ homepage ]------------*/

.head-container,
.home-container {
    margin-top: 4rem;
}

.home-container h1 {
    font-family: 'Tourney', cursive;
    margin-bottom: 2.5rem;
}

.home-container p {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.home-container form {
    margin-top: 25px;
}

.banner-image {
    padding-top: 25px;
}

.heading {
    font-size: 2.5rem;
}

.small-heading {
    margin-top: 1rem;
    margin-bottom: 2.1rem;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.list-item {
    padding-bottom: 0.65rem
}

.list-icon {
    padding-right: 2rem;
    color: var(--fuchsia);
    font-size: 1.2rem;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: white;
    /*margin-right: 24px;*/
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}

.date-time {
    color: var(--fuchsia) !important;
    font-weight: 600;
}

.event-title {
    padding-top: 5px;
    font-size: 1.3rem;
    font-weight: bold;
}

.organiser {
    font-size: 1rem;
    padding-bottom: 7px;
}

.location {
    font-size: 0.9rem;
}

.attendees {
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.card-action {
    margin-top: 15px;
    padding: 16px 0 0 0 !important;
}

.action-container {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

/*----[ Homepage carousel ]---*/

.main-carousel {
    margin-bottom: 3.5rem;
}

.carousel-cell {
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
}

.flickity-prev-next-button.previous {
    top: unset;
    bottom: -16%;
    left: 0;
}

.flickity-prev-next-button.next {
    top: unset;
    bottom: -16%;
    right: 0;
}

.flickity-page-dots {
    bottom: -8%;
    left: 0
}

/*---------[ faq ]------------*/

.question {
    color: var(--fuchsia);
    font-size: 1.8rem;
    font-weight: 700;
}

/*---------[ Log in ]-------------*/

.login-img {
    /* border: 1px solid; */
    width: 100%;
    height: 405px;
    background-image: url(/static/images/app-signin.svg);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 37% 75%;
}

/*--------[ profile page ]---------*/

.profile-img {
    height: 100% !important;
    max-width: 80px !important;
    max-height: 80px !important;
    border: 1px solid var(--ivory);
    object-fit: cover;
}

.profile-name {
    font-weight: 700;
    text-transform: capitalize;
}

.profile-icon {
    padding-right: 1rem;
}

/*------------[ Modals ]------------*/

.modal {
    top: 5% !important;
    max-height: 90%;
}

.close-form {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem
}

.modal-forms {
    width: 80% !important;
    margin: 0 auto;
}

/*---------[ Contact form ]---------*/

.contact-img {
    width: 100%;
    min-width: 375px;
    padding-left: 5rem;
}

.notifications-container {
    margin: 0;
}

input,
textarea {
    border-bottom: 1px solid var(--darkgray) !important;
}

input:focus,
textarea:focus {
    box-shadow: 0 1px 0 0 var(--blue) !important;
}

label {
    color: var(--darkgray) !important;
}

.required {
    color: var(--fuchsia);
}

.error-text {
    color: var(--fuchsia);
}

.error-text,
.helper-text {
    font-size: 0.75rem;
    margin: 0;
}

.hide {
    display: none;
}

.btn.btn-send {
    background-color: var(--blue);
}

/*---------[ Error pages]-----*/

.error-container {
    flex-direction: column;
}

.h1-error {
    margin-top: 3rem
}

.error-container img {
    margin-top: 3rem;
}

.p-error {
    font-size: 1.2rem;
}

/*---------[ Footer ]---------*/

.page-footer {
    background-color: var(--ivory);
}

.footer-text {
    color: var(--black);
}


/*---------[ Media queries ]---------*/

@media only screen and (min-width: 600px) {

    .home-container {
        margin-top: 9rem;
    }

    .head-container {
        margin-top: 7.75rem;
    }

    .home-container h1 {
        margin-top: reset;
    }

    .h1-error {
        margin-top: 3rem
    }

    nav .nav-wrapper {
        padding: 0 15px;
    }

    .carousel-cell {
        width: 48%;
        min-width: 350px;
        margin-right: 0.75rem;
        margin-left: 1rem;
    }

    .profile-img {
        position: relative;
        max-width: 110px !important;
        max-height: 110px !important;
    }

    .resize {
        max-width: 70px !important;
        max-height: 70px !important;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo.left {
        left: 1rem;
    }

    .banner-image {
        padding-top: 45px;
    }
}

@media only screen and (min-width: 993px) {
    body {
        background-position: right 20px;
    }

    .container {
        width: 75%;
    }

    .home-container form {
        margin-top: 4rem;
    }

    .banner-image {
        padding-top: 0px;
    }

    .carousel-cell {
        width: 31%;
        min-width: 372px;
        margin-right: 0rem;
        margin-left: 1rem;

    }

    .flickity-prev-next-button.previous {
        top: 50%;
        left: -55px;
    }

    .flickity-prev-next-button.next {
        top: 50%;
        right: -55px;
    }

    .flickity-page-dots {
        bottom: -8%;
    }

    .error-container {
        height: 70vh !important;
        min-height: 400px;
        width: 100%;
        flex-direction: row;
    }

    .error-container img {
        margin-top: 0;
    }
}