{% extends "base.html" %}
{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}
<div class="row">
<div class="col s12">
<h1 class="center-align">Frequently Asked Question</h1>
<hr class="breakline">
<h2><span class="question">Q.</span> How can I attend an event?</h2> 
<p>To attend an event you need to log-in or sign up to Codzilla, then simply click the button attend on the event page. The event should now show in ‘My Events section’ under your profile.</p> 
<hr>
<h2><span class="question">Q.</span> How can I remove my attendance to an event?</h2>
<p>You are unable to attend or you have decided not to go to an event. Go to ‘My events’ and click on the menu to remove yourself from the event or simply click the button ‘attending’ to change your status.</p>
<hr>
<h2><span class="question">Q.</span> How can I follow a group?</h2>
<p>You can click on the star icon to follow a group. You can see your groups in ‘My Groups’ section under your profile. To view all the events associated with the group, just go onto the group page. 
</p>
<hr>
<h2><span class="question">Q.</span> How can I unfollow a group?</h2>
<p>Go to ‘My Groups’ section and click on the menu to unfollow the group or simply click the button “Followed’ on the group page.</p> 
<hr>
<h2><span class="question">Q.</span> How can I create an event?</h2> 
<p>You can either click the calendar icon in the top menu or go to My Events to add an event. </p>
<hr>
<h2><span class="question">Q.</span> Can I create online events?</h2>
<p>Yes you can create online events by selecting the event type when adding an event.</p>
<hr>
<h2><span class="question">Q.</span> Where can I see my events?</h2>
<p>Go to ‘My events’ section under your profile to see your events as an organiser or a participant.</p>
<hr>
<h2><span class="question">Q.</span> How can I edit / cancel an event?</h2>
<p>Go to ‘My events’ and click on the menu to select the relevant options.</p>  
<hr>
<h2><span class="question">Q.</span> How do I delete an event?</h2>
<p>First you will need to cancel your events so that your attendees are notified, then you can delete the event by going to ‘My Event section’ and click on the menu to select the delete option.</p>
<hr>
<h2><span class="question">Q.</span> How can I inform my attendees my event has been postponed?</h2>
<p>When you cancel your event, your attendees will be immediately notified and they will be able to see the cancellation message in their notifications.</p> 
<hr>
<h2><span class="question">Q.</span> Do I have to create a group to add an event?</h2> 
<p>No you don’t have to create a group to add events to Codzilla. However, adding a group makes it easier to gather followers and add co-administrators to your events.</p> 
<hr>
<h2><span class="question">Q.</span> Where do I see my groups?</h2>
<p>Go to ‘My Group’ section under your profile page to see your groups as an organiser or as a member.</p> 
<hr>
<h2><span class="question">Q.</span> How can I remove my notifications?</h2>
<p>Go to your profile section and update your preferences accordingly.</p> 
<hr>
<h2><span class="question">Q.</span> Can I delete my profile?</h2>
<p>Yes you can delete your profile by going to your profile page. The delete button will be at the bottom of the page.</p> 
<hr>
<h2><span class="question">Q.</span> Can I add co-adminastors to my events?</h2> 
<p>You can only add co-administrators to your events via your group. To add a co-administrator go to my group then enter the email address of your co-admin. If your event is not associated with a group, go to your event page and add the relevant group.</p> 

</div>
</div>
{% endblock %}