{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="row head-bg">
    <div class="col s12 l8 offset-l2">
        <h1 class="center-align">My Profile</h1>
        <hr class="breakline">
    </div>
</div>
<div class="row">
    <div class="col 12 s12 l8 offset-l2">
        <h2>Personal information</h2>
        
        <!-- Personal information-->
        <div class="row valign-wrapper">
            <div class="col s3">   
                <img src={{user.user_imgUrl}} alt="" class="circle responsive-img profile-img">
            </div>
            <div class="col s9 ">
                <h3 class="profile-name"><i class="fas fa-user profile-icon"></i>{{ user.first_name }}
                    {{user.last_name}}</h3>
                <p><i class="fas fa-map-marker-alt profile-icon"></i> {{ user.city}}, {{user.country}}</p>
            </div>
        </div>
        <button id="edit-personal-info" data-target="personal-info-modal"
            class="btn modal-trigger btn-send">Edit</button>
        <hr class="margin-top">

        <!-- Account settings -->
        <h2>Account settings</h2>
        <p><i class="fas fa-envelope profile-icon"></i> {{ user.email}}</p>
        <p><i class="fas fa-unlock-alt profile-icon"></i> ************</p>
        <button class="btn btn-send" id="edit-email">Edit email</button>
        <button class="btn btn-send" id="edit-password">Edit password</button>
        <hr class="margin-top">

        <!-- Preferences -->
        <h2>My preferences</h2>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h3>As an attendee</h3>
                    </div>
                    <div class="col m9 s7" for="event_reminder">Event reminder</div>
                    <div class="col m3 s5 switch">
                        <label for="event_reminder">
                            Off
                            <input type="checkbox" id="event_reminder" name="event_reminder" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m9 s7" for="event_update">Events postponed / cancelled</div>
                    <div class="col m3 s5 switch">
                        <label for="event_update">
                            Off
                            <input type="checkbox" id="event_update" name="event_update" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m9 s7" for="query_answered">Answer to my questions</div>
                    <div class="col m3 s5 switch">
                        <label for="query_answered">
                            Off
                            <input type="checkbox" id="query_answered" name="query_answered" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h3>As an organiser</h3>
                    </div>
                    <div class="col m9 s7" for="new_participant">New participants to my events</div>
                    <div class="col m3 s5 switch">
                        <label for="new_participant">
                            Off
                            <input type="checkbox" id="new_participant" name="new_participant" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m9 s7" for="event_question">Questions to my events</div>
                    <div class="col m3 s5 switch">
                        <label for="event_question">
                            Off
                            <input type="checkbox" id="event_questionr" name="event_question" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m9 s7" for="new_follower">New followers to my groups</div>
                    <div class="col m3 s5 switch">
                        <label for="new_follower">
                            Off
                            <input type="checkbox" id="new_follower" name="new_follower" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <!-- Delete profile -->
        <button class="btn btn-send" id="save-preferences">Save preferences</button>
        <hr class="margin-top">
        <h2>Additional actions</h2>
        <button class="btn btn-send" type="submit" id="delete-profile">Delete profile</button>
    </div>
</div>


<!-- Modal personal information -->
<div id="personal-info-modal" class="modal modal">
    <div class="modal-content">
        <!--Modal content -->
        <i class="far fa-times-circle close-form modal-close" data-group="close-modal"
            data-target="personal-info-modal"></i>
        <h2 class="center-align">Edit personal information</h2>
        <hr class="breakline">
        <!-- form-->
        <form id="form-edit-info" class="modal-forms" method="post" method="POST" action="">
            <!-- Image Url-->
            <div class="row">
                <div class="col s12 m2 center-align">
                    <img src={{user.user_imgUrl}} alt="" class="circle responsive-img profile-img resize">
                </div>
                <div class="input-field col s12 m10">
                    <input id="user-img" name="user-img" type="text" class="validate" minlenght="1">
                    <label for="city">Image URL</label>
                </div>
            </div>
            <!-- First name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="fname" name="fname" type="text" class="validate" minlenght="1" maxlength="32"
                        pattern="^[a-zA-Z._-]{1,32}$" required>
                    <label for="fname">First name</label>
                    <p class="error-text hide" for="fname"></p>
                </div>
            </div>
            <!-- Last name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="lname" name="lname" type="text" class="validate" minlenght="1" maxlength="32"
                        pattern="^[a-zA-Z._-]{1,32}$" required>
                    <label for="lname">Last name</label>
                    <p class="error-text hide" for="lname"></p>
                </div>
            </div>
            <!-- City -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="city" name="city" type="text" class="validate" minlenght="1" maxlength="32"
                        pattern="^[a-zA-Z._-]{1,32}$" required>
                    <label for="city">City</label>
                    <p class="error-text hide" for="city"></p>
                </div>
            </div>
            <!-- Country -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="country" name="country" type="text" class="validate" minlenght="1" maxlength="32"
                        pattern="^[a-zA-Z._- ]{1,32}$" required>
                    <label for="country">Country</label>
                    <p class="error-text hide" for="country"></p>
                </div>
                <!-- Buttons -->
                <div class="row">
                    <div class="col s12 center-align margin-top">
                        <button class="btn btn-send modal-close" type="submit" name="submit">Submit</button>
                        <button class="btn btn-send modal-close" type="button">Close</button>
                    </div>
                </div>
        </form>


    </div>
</div>
{% endblock %}