{% extends "base.html" %}
{% block title %}Accessibility statement{% endblock %}

{% block content %}
<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Accessibility Statement</h1>
        <hr class="breakline">
        <p>Codzilla is committed to ensuring digital accessibility for people with disabilities. We are continually
            improving the user experience for everyone, and applying the relevant accessibility standards.</p>
        <h2>Conformance status</h2>
        <p>The <a class="hyperlink" href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve
            accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and
            Level AAA. Codzilla is partially conformant with WCAG 2.1 level AA. Partially conformant means
            that some parts of the content do not fully conform to the accessibility standard.</p>
        <h2>Feedback</h2>
        <p>We welcome your feedback on the accessibility of our website. Please let us know if you encounter
            accessibility barriers on Codzilla:</p>
        <p><strong>E-mail:</strong> codzilla.app@gmail.com</p>
        <p>We try to respond to feedback within 5 business days.</p>
        <hr>
        <p>This statement was created on 21 July 2021 using the <a class="hyperlink"
                href="https://www.w3.org/WAI/planning/statements/generator/#create">W3C Accessibility Statement
                Generator Tool</a>.</p>
    </div>
</div>
    {% endblock %}