{% extends "base.html" %}
{% block title %}Create an event{% endblock %}

{% block content %}

<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Create an event</h1>
        <hr class="breakline">
    </div>
</div>

<div class="row valign-wrapper">
    <div class="col s12 m8 offset-m2 l6">
        <div class="row">
            <!-- form -->
            <form class="cols s12" id="add_event">
                <!-- event title -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix deep-purple-text text-darken-4"></i>
                        <input id="event-title" type="text" name="event_title" minlenght="3" maxlength="250"
                            class="validate" required>
                        <label for="event-title">Event title</label>
                    </div>
                </div>
                <!-- type -->

                <!-- category -->

                <!-- date -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix deep-purple-text text-darken-4"></i>
                        <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
                        <label for="due_date">Due Date</label>
                    </div>
                </div>
                <!-- time -->

                <!-- endtime checkbox -->

                <!-- location -->

                <!-- event description -->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="group_description" name="group_description" minlenght="3" maxlength="1500"
                            class="materialize-textarea validate" required></textarea>
                        <label for="event_description">Event description</label>
                    </div>
                </div>

                <!-- cover image -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="event-img-url" type="text" name="img_url" minlenght="3" maxlength="1500">
                        <label for="event-img-url">Add a cover image</label>
                    </div>
                </div>

                <!-- maximum of attendees -->

                <!-- buttons -->
                <div class="row">
                    <div class="col s6 right-align margin-top">
                        <button class="btn btn-send" type="submit">Submit</button>
                    </div>
                    <div class="col s6 left-align margin-top">
                        <a class="btn btn-send" href="#">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Image large screen only -->
    <div class="col l6 hide-on-med-and-down">
        <img class="responsive-img" src="{{ url_for('static', filename='images/support-team.svg')}}" alt="">
    </div>
</div>

{% endblock  %}