{% extends "base.html" %}
{% block title %}Browse groups and events{% endblock %}

{% block content %}

<div class="row head-container">
    <div class="col s12 l8 offset-l2">
        <h1 class="center-align">Search groups and events</h1>
        <hr class="breakline">
    </div>
</div>

<!-- Search -->
<div class="row">
    <div class="col s12">
        <form id="search-all" action="{{ url_for('main.search') }}" method="POST">
            <div class="input-field col s12 m6 offset-m3 center-align">
                <i class="fas fa-search material-icons prefix"></i>
                <input id="search-home" name="search" {% if search %} value="{{ query }}" {% endif %} type="text"
                    class="validate">
                <label for="search-home">search by location, topic, key words...</label>
            </div>
            <div class="col s12 center-align margin-top">
                <button class="btn contact-btn" type=submit name="submit">search</button>
                <a class="btn contact-btn" href="{{ url_for('main.browse_events_groups')}}">reset</a>
            </div>
        </form>
    </div>
</div>

<!-- Tabs -->
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6 btn-tab"><a class="active" href="#view-events">view events</a></li>
            <li class="tab col s6 btn-tab"><a href="#view-groups">view groups</a></li>
        </ul>
    </div>
</div>

<!-- All events -->

<div class="row" id="view-events">
    <div class="col s12">
        <h2 class="center-align">All events</h2>
        <hr class="breakline">
    </div>
    {% if search %}
    <div class="col s12 center-align margin-bottom">
        <h3>Your search results for " {{ query }} "</h3>
    </div>
    {% endif %}
    {% if events|length > 0 %}
    {% for event in events %}

    <div class="col s12" id="card-{{event._id}}">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                {% if event.img_url == "" or event.img_url is none %}
                <img class="horizontal-card-img" src="{{ url_for('static', filename='images/event_default.png')}}" width="368px" height="184px"
                    alt="default event cover image">
                {% else %}
                <img class="horizontal-card-img" src="{{ event.img_url }}" data-default="event" width="368px" height="184px"
                    alt="cover image for event {{event.event_title}}">
                {% endif %}
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <!-- floating bookmark button -->
                    {% if session.email %}
                    {% if event.created_by == user._id %}
                    {% else%}
                    {% if event._id in events_interest %}
                    <a class="btn-floating halfway-fab btn-interested hor-card-btn" data-status="active"
                        data-user="{{ user._id }}" data-event="{{ event._id}}"><i class="far fa-star"></i></a>
                    {% else %}
                    <a class="btn-floating halfway-fab btn-interest hor-card-btn" data-status="active"
                        data-user="{{ user._id }}" data-event="{{ event._id}}"><i class="far fa-star"></i></a>
                    {% endif %}
                    {% endif %}
                    {% else %}
                    <a class="btn-floating halfway-fab btn-interest hor-card-btn modal-trigger"
                        href="#request-registration-modal">
                        <i class="far fa-star"></i>
                    </a>
                    {% endif %}
                    <p class="date-time">
                        <!-- https://support.sendwithus.com/jinja/jinja_time/ -->
                        {% if event.is_endtime %}
                        {{ event.date_start.strftime('%a %d %B %Y - %H:%M') }} to
                        {{event.date_end.strftime('%H:%M')}}
                        {% else %}
                        {{ event.date_start.strftime('%a %d %B %Y @ %H:%M') }}
                        {% endif %}
                    </p>
                    <!-- link to event page -->
                    <a class="page-link" href="{{ url_for('events.event', event_id=event._id)}}">
                        <p class="event-title">{{ event.event_title.capitalize() }}</p>
                    </a>
                    <p class="organiser">{{ event.event_category.capitalize() }}
                        {% if event.group %}
                        by {{ event.group.capitalize()  }}
                        {% else %}
                        {% set creator = users|selectattr("_id", "equalto", event.created_by )|first %}
                        by {{ creator.first_name.capitalize()  }} {{creator.last_name.capitalize() }}
                        {% endif %}
                    </p>
                    <p class="location">
                        {% if event.event_type == "in person" %}
                        {{ event.event_location.capitalize() }}
                        {% else %}
                        {{ event.event_type.capitalize() }}
                        {% endif %}
                    </p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s6 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ event.attendees|length }} attendee(s)
                                </p>
                            </div>
                            <div class="col s6 right-align">
                                <!-- dynamic event actions -->
                                {% if session.email %}
                                {% if event.created_by == user._id %}

                                {% else%}
                                {% if event._id in events_attending %}
                                <button class="btn btn-attending" data-user="{{ user._id }}"
                                    data-event="{{ event._id}}">Attending</button>
                                <button class="btn btn-unattend hide" data-user="{{ user._id }}"
                                    data-event="{{ event._id}}">Unattend</button>
                                {% else %}
                                <button class="btn btn-attend" data-status="active" data-user="{{ user._id }}"
                                    data-event="{{ event._id}}">Attend</button>
                                {% endif %}
                                {% endif %}

                                {% else %}
                                <a class="btn btn-attend modal-trigger" href="#request-registration-modal">Attend</a>
                                {% endif %}
                                <!-- end event action -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s12 center-align">
        <h3>No results found</h3>
    </div>
    <div class="col s4 offset-s4">
        <img class="responsive-img" src="{{ url_for('static', filename='images/home_noevents.svg')}}"
            alt="illustration for no results found">
    </div>
    {% endif %}
</div>


<!-- All groups -->
<div class="row" id="view-groups">
    <div class="col s12">
        <h2 class="center-align">All groups</h2>
        <hr class="breakline">
    </div>
    {% if search %}
    <div class="col s12 center-align margin-bottom">
        <h3>Your search results for " {{ query }} "</h3>
    </div>
    {% endif %}
    {% if groups|length > 0 %}
    {% for group in groups %}

    <div class="col s12" id="card-{{ group._id }}">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                {% if group.img_url == "" or group.img_url is none %}
                <img class="horizontal-card-img" src="{{ url_for('static', filename='images/group_default.png')}}"
                    width="368px" height="173px" alt="default event cover image">
                {% else %}
                <img class="horizontal-card-img" data-default="group" src="{{ group.img_url }}" width="368px"
                    height="173px" alt="group image cover for {{ group.group_name }}">
                {% endif %}
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a class="page-link" href="{{ url_for('groups.group', group_id=group._id)}}">
                        <p class="event-title">{{ group.group_name.capitalize() }}</p>
                    </a>
                    <p class="location">{{ group.group_city.capitalize() }}, {{ group.group_country.capitalize() }}</p>

                    <p class="gp-description">{{ group.group_description.capitalize() }}</p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s6 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ group.group_members|length }}
                                    member(s)</p>
                            </div>
                            <div class="col s6 right-align">
                                <!-- group action -->
                                {% if session.email %}

                                {% if group._id in owned  %}

                                {% else%}
                                {% if group._id in followed %}
                                <button class="btn btn-following" data-user="{{ user._id }}"
                                    data-group="{{ group._id}}">Following</button>
                                <button class="btn btn-unfollow hide" data-user="{{ user._id }}"
                                    data-group="{{ group._id}}">Unfollow</button>
                                {% else %}
                                <button class="btn btn-follow" data-status="active" data-user="{{ user._id }}"
                                    data-group="{{ group._id}}">Follow</button>
                                {% endif %}
                                {% endif %}

                                {% else %}
                                <a class="btn btn-follow modal-trigger" href="#request-registration-modal">Follow</a>
                                {% endif %}
                                <!-- end group action -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s12 center-align">
        <h3>No results found</h3>
    </div>
    <div class="col s4 offset-s4">
        <img class="responsive-img" src="{{ url_for('static', filename='images/home_noevents.svg')}}"
            alt="illustration for no results found">
    </div>
    {% endif %}
</div>
<!-- modal request registration -->
<div id="request-registration-modal" class="modal">
    <div class="row modal-content">
        <!-- closing button -->
        <i class="far fa-times-circle close-form modal-close"></i>
        <!-- modal content -->
        <div class="col s12 center-align">
            <h2>Sign in or register</h2>
            <hr class="breakline">
            <p>Please sign in or register to access this feature</p>
        </div>
        <!-- modal footer -->
        <div class="col s12 center-align border-top margin-top">
            <a href="{{ url_for('auth.login') }}" class="btn btn-send margin-top">sign in</a>
            <a href="{{ url_for('auth.signup') }}" class="btn btn-send margin-top">register</a>
            <a href="#" class="btn btn-send margin-top modal-close">cancel</a>
        </div>
    </div>
    <!-- end modal -->
    {% endblock %}