{% extends "base.html" %}
{% block title %}Complete your profile page{% endblock %}

{% block content %}
<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Hello {{ name }}, complete your profile</h1>
        <hr class="breakline">
    </div>
</div>
<!-- Flash messages -->
<div class="row flashes">
    <div class="col s12 l6 center-align">
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    {% endwith %}
    </div>
</div>
<!-- Complete profile form-->
<div class="row">

    <form class="col s12 l8 offset-l2" method="post" method="POST"
        action="{{ url_for('auth.complete_profile', email=email )}}">
        <div class="row">
            <div class="input-field col s12">
                <input id="user-img" name="user-img" type="text" class="validate" minlenght="1">
                <label for="user-img">Image URL</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="city" name="city" type="text" class="validate" minlenght="1" maxlength="32"
                    pattern="^[a-zA-Z._-]{1,32}$" required>
                <label for="city">City</label>
                <p class="error-text hide" for="city"></p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="country" name="country" type="text" class="validate" minlenght="1" maxlength="32"
                    pattern="^[a-zA-Z._- ]{1,32}$" required>
                <label for="country">Country</label>
                <p class="error-text hide" for="country"></p>

            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h2>Group name</h2>
                <p>You can add a group name now and edit it later in your groups. Leave it blank if you do not wish to
                    add a group</p>
            </div>
            <div class="input-field col s12">

                <input id="group" name="group" type="text" class="validate" minlenght="1" maxlength="32">
                <label for="group">Group name</label>
            </div>
        </div>
        <!-- Notification preferences -->
        <!--<div class="row notifications-container">-->
        <div class="row">
            <div class="col s12">
                <h2>Notification</h2>
                <p>Personalise how you see your notifcations in your app.</p>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h3>As an attendee</h3>
                    </div>
                    <div class="col m9 s7" for="event_reminder">Event reminder</div>
                    <div class="col m3 s5 switch">
                        <label for="event_reminder">
                            Off
                            <input type="checkbox" id="event_reminder" name="event_reminder" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m9 s7" for="event_update">Events postponed / cancelled</div>
                    <div class="col m3 s5 switch">
                        <label for="event_update">
                            Off
                            <input type="checkbox" id="event_update" name="event_update" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m9 s7" for="query_answered">Answer to my questions</div>
                    <div class="col m3 s5 switch">
                        <label for="query_answered">
                            Off
                            <input type="checkbox" id="query_answered" name="query_answered" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <h3>As an organiser</h3>
                    </div>
                    <div class="col m9 s7" for="new_participant">New participants to my events</div>
                    <div class="col m3 s5 switch">
                        <label for="new_participant">
                            Off
                            <input type="checkbox" id="new_participant" name="new_participant" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m9 s7" for="event_question">Questions to my events</div>
                    <div class="col m3 s5 switch">
                        <label for="event_question">
                            Off
                            <input type="checkbox" id="event_question" name="event_question" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m9 s7" for="new_follower">New followers to my groups</div>
                    <div class="col m3 s5 switch">
                        <label for="new_follower">
                            Off
                            <input type="checkbox" id="new_follower" name="new_follower" checked>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <!-- -->
        <!--<div class="col s12 ">-->

 
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn btn-send" type="submit" name="signup">Submit</button>
            </div>
        </div>
    </form>


</div>

{% endblock %}