{% extends "base.html" %}
{% block title %}Edit your group{% endblock %}

{% block content %}
<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Edit your group</h1>
        <hr class="breakline">
    </div>
</div>

<div class="row valign-wrapper">
    <div class="col s12 m8 offset-m2 l6">
        <div class="row">
            <!-- form -->
            <form class="cols s12" id="add_group" method="POST" action="{{ url_for('groups.edit_group', group_id=group_id) }}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="group_name" type="text" name="group_name" value="{{ group.group_name }}" minlenght="3" maxlength="250"
                            class="validate" required>
                        <label for="group_name">Edit group name</label>
                        <p class="error-text hide" for="email"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="group_city" type="text" name="group_city" value="{{ group.group_city }}" minlenght="3"
                            maxlength="250" class="validate" required>
                        <label for="group_city">Edit city</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="group_country" type="text" value="{{ group.group_country }}" name="group_country"
                            minlenght="3" maxlength="250" class="validate" required>
                        <label for="group_country">Edit country</label>
                    </div>
                </div>
                <div class="row"> 
                        <div class="input-field col s12">
                        <textarea id="group_description" name="group_description" minlenght="3"
                            maxlength="1500" class="materialize-textarea validate" required>{{ group.group_description }}</textarea>
                        <label for="group_description">Edit group description</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="group_img_url" type="text" name="img_url" value="{{ group.img_url }}" minlenght="3" maxlength="1500">
                        <label for="img_url">Edit a cover image</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6 right-align margin-top">
                        <button class="btn btn-send" type="submit">Submit</button>
                    </div>
                    <div class="col s6 left-align margin-top">
                        <a class="btn btn-send" href="{{ url_for('users.my_groups') }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Image large screen only -->
    <div class="col l6 hide-on-med-and-down">
        <img class="responsive-img" src="{{ url_for('static', filename='images/support-team.svg')}}" alt="">
    </div>
</div>

{% endblock %}