{% extends "base.html" %}
{% block title %}Edit event{% endblock %}

{% block content %}

<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Edit event</h1>
        <hr class="breakline">
        <!-- Back button -->
        <button class="back-btn" data-action="back">
            <i class="fas fa-angle-left"></i>
        </button>
    </div>
</div>

<!-- flash messages -->
<div class="row">
    <div class="col s12 center-align flashes">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endwith %}
    </div>
</div>

<div class="row valign-wrapper">
    <div class="col s12 m8 offset-m2">
        <div class="row">
            <!-- form -->
            {% if group %}
            <form class="cols s12" id="edit_event" method="POST"
                action="{{ url_for('events.edit_event', event_id=event_id, group_id=group._id) }}">
                {% else %}
                <form class="cols s12" id="edit_event" method="POST"
                    action="{{ url_for('events.edit_event', event_id=event._id) }}">
                    {% endif %}
                    <!-- event title -->
                    <div class="row">
                        <div class="div input-field col s12">
                            <input id="event_title" type="text" name="event_title" minlength="3" maxlength="250"
                                class="validate" value="{{ event.event_title }}" required>
                            <label for="event_title">Event title</label>
                        </div>
                    </div>
                    <!-- type and categories -->
                    <div class="row">
                        <!-- type -->
                        <div class="input-field col s12 m6">
                            <select id="event_type" name="event_type" class="validate" required>
                                <option class="option-default" value="" disabled>Select your option</option>
                                {% for type in types %}
                                {% if type.type_name == event.event_type %}
                                <option value="{{ type.type_name }}" selected>{{ type.type_name }}</option>
                                {% else %}
                                <option value="{{ type.type_name }}">{{ type.type_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label for="event_type">Event type</label>
                        </div>
                        <!-- category -->
                        <div class="input-field col s12 m6">
                            <select id="event_category" name="event_category" class="validate" required>
                                <option class="option-default" value="" disabled>Select your option</option>
                                {% for cat in categories %}
                                {% if cat.category_name == event.event_category %}
                                <option value="{{ cat.category_name }}" selected>{{ cat.category_name }}</option>
                                {% else %}
                                <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label for="event_category">Category</label>
                        </div>
                    </div>

                    <!-- group  -->
                    {% if groups|length > 0 %}
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="group" name="group" class="validate">
                                <option class="option-default" value="" {% if event.group is none %} selected {% endif %} disabled>Select group</option>
                                <option value="">None</option>
                                {% for gp in groups %}
                                {% if gp.group_name == event.group %}
                                <option value="{{ gp.group_name }}" selected>{{ gp.group_name }}</option>
                                {% else %}
                                <option value="{{ gp.group_name }}">{{ gp.group_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label for="group">Select group if any</label>
                        </div>
                    </div>
                    {% endif %}

                    <!-- date -->
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="date_start" name="date_start" value="{{ event.date_start.strftime('%d/%m/%Y') }}"
                                type="text" class="datepicker validate" required>
                            <label for="date_start">Select date</label>
                        </div>
                        <!-- time -->
                        <div class="input-field col s6">
                            <input id="time_start" name="time_start" value="{{ event.date_start.strftime('%H:%M') }}"
                                type="text" class="timepicker validate" required>
                            <label for="time_start">Select time</label>
                        </div>
                    </div>

                    <!-- endtime checkbox -->
                    <div class="row">
                        <p class="col s12">
                            <label>
                                <input id="is_endtime" type="checkbox" class="filled-in" name="is_endtime"
                                    data-value="{{ event.is_endtime}}">
                                <span>Add an end date and time</span>
                            </label>
                        </p>
                    </div>

                    <!-- end time -->
                    <div id="end_time_container" class="row hide">
                        <div class="input-field col s6">
                            <input id="time_end" name="time_end" type="text"
                                value="{{ event.date_end.strftime('%H:%M') }}" class="timepicker validate">
                            <label for="time_end">Select end time</label>
                        </div>
                    </div>

                    <!-- event description -->
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="event_description" name="event_description" minlength="3" maxlength="1500"
                                class="materialize-textarea validate" required>{{ event.event_description }}</textarea>
                            <label for="event_description">Event description</label>
                        </div>
                    </div>

                    <!-- location -->
                    <div id="location_container" class="row">
                        <div class="input-field col s12">
                            <input class="controls" id="event_location" type="text" name="event_location"
                                value="{{ event.event_location }}">
                            <label for="event_location">Event location</label>
                            <p class="error-text hide" data-error="event_location"></p>
                        </div>
                    </div>

                    <!-- event link -->
                    <div id="link_container" class="row hide">
                        <div class="input-field col s12">
                            <input id="event_link" type="text" name="event_link" value="{{ event.event_link }}">
                            <label for="event_link">Event link</label>
                        </div>
                    </div>

                    <!-- maximum of attendees -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="max_attendees" type="text" name="max_attendees" pattern="^(?![0])([0-9]){1,3}$"
                                value="{{ event.max_attendees }}">
                            <label for="max_attendees">Maximum number of attendees (1-100)</label>
                            <p class="error-text hide" data-error="max_attendees"></p>
                        </div>
                    </div>
                    <!-- cover image -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-image prefix"></i>
                            <textarea id="img_url" name="img_url" data-input="img"
                                class="materialize-textarea validate">{{ event.img_url }}</textarea>
                            <label for="img_url">Event cover image</label>
                            <p class="error-text hide" data-error="img_url"></p>
                        </div>
                    </div>
                    <!-- update event status -->
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="status" name="status" class="validate">
                                <option class="option-default" value="" disabled>Please select</option>
                                {% for status in event_status %}
                                {% if status.status == event.status %}
                                <option value="{{ status.status }}" selected>{{ status.status }}</option>
                                {% else %}
                                <option value="{{ status.status }}">{{ status.status }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label for="status">Update event status</label>
                        </div>

                    </div>

                    <!-- buttons -->
                    <div class="row">
                        <div class="col s6 right-align margin-top">
                            <button class="btn btn-send" type="submit">Submit</button>
                        </div>
                        <div class="col s6 left-align margin-top">
                            <a class="btn btn-send" href="{{ url_for('events.event', event_id=event._id) }}">Cancel</a>
                        </div>
                    </div>
                </form>
        </div>
    </div>

</div>

{% endblock  %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtOeM5h3VBhXqbIiC2KIaHCfsb3v2JVWk&libraries=places">
</script>
<script src="{{ url_for('static', filename='js/googlemaps.js')}}"></script>
{% endblock %}