{% extends "base.html" %}
{% block title %}Edit your group{% endblock %}

{% block content %}
<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Edit your group</h1>
        <hr class="breakline">
        <!-- Back button -->
        <button class="back-btn" data-action="back" aria-label="go back">
            <i class="fas fa-angle-left" aria-hidden="true"></i>
        </button>
    </div>
</div>

<!-- flash messages -->
<div class="row">
    <div class="col s12 center-align flashes">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endwith %}
    </div>
</div>

<div class="row valign-wrapper">
    <div class="col s12 m8 offset-m2 l6">
        <div class="row">
            <!-- form -->
            <form class="cols s12" id="edit_group" method="POST"
                action="{{ url_for('groups.edit_group', group_id=group_id) }}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="group_name" type="text" name="group_name" value="{{ group.group_name }}"
                            minlength="3" maxlength="250" class="validate" data-check="{{ group.group_name }}" required>
                        <label for="group_name">Edit group name</label>
                        <p class="error-text hide" data-error="group_name">Enter a group name up to 1500 characters</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="group_city" type="text" name="group_city" value="{{ group.group_city }}"
                            minlength="3" maxlength="250" class="validate" pattern="^[a-zA-Z-_. ]{1,32}$" required>
                        <label for="group_city">Edit city</label>
                        <p class="error-text hide" data-error="group_city">Please enter a valid city between 1 and 32
                            characters. Only special characters - . _ and spaces are accepted, no digits.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="group_country" type="text" value="{{ group.group_country }}" name="group_country"
                            minlength="3" maxlength="250" pattern="^[a-zA-Z-_. ]{1,32}$" class="validate" required>
                        <label for="group_country">Edit country</label>
                        <p class="error-text hide" data-error="group_country">Please enter a valid country between 1 and
                            32 characters. Only special characters - . _ and spaces are accepted, no digits.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="group_description" name="group_description" minlength="3" maxlength="1500"
                            class="materialize-textarea validate" required>{{ group.group_description }}</textarea>
                        <label for="group_description">Edit group description</label>
                        <p class="error-text hide" data-error="group_description">Enter a group name up to 1500
                            characters</p>
                    </div>
                </div>
                <!-- Image Url-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix"></i>
                        <textarea id="group_img_url" class="materialize-textarea validate" name="img_url"
                            data-input="img">{{ group.img_url }}</textarea>
                        <label for="group_img_url">Edit a cover image</label>
                        <p class="error-text hide" data-error="group_img_url">Leave blank or include a valid image Url
                            and make sure that it contains an image extension such as png, jpg...</p>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="row">
                    <p id="invalid-data" class="flashes center-align margin-bottom hide">Correct invalid information
                        and submit again</p>
                    <div class="col s6 right-align margin-top">
                        <button class="btn btn-send" type="submit">Submit</button>
                    </div>
                    <div class="col s6 left-align margin-top">
                        <a class="btn btn-send" href="{{ url_for('users.my_groups') }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Image large screen only -->
    <div class="col l6 hide-on-med-and-down">
        <img class="responsive-img" src="{{ url_for('static', filename='images/support-team.svg')}}"
            alt="illustration of a group of people around a computer">>
    </div>
</div>

{% endblock %}