{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}

<!-- Header -->
<div class="row home-container">
    <div class="col s12 m6 center align">
        <h1>Hello World!</h1>
        <p>Meet, connect and develop with fellow coders. </p>
        <p>Find events near you!</p>
        <form>
            <div class="input-field col s12 center-align">
                <i class="fas fa-search material-icons prefix"></i>
                <input id="search-home" type="text" class="validate">
                <label for="search-home">search</label>
            </div>
            <div class="col s12 center-align">
                <button class="btn contact-btn" type=submit name="submit">search</button>
            </div>
        </form>
    </div>

    <div class="col s12 m6">
        <img class="responsive-img banner-image" src="{{ url_for('static', filename='images/support-team.svg')}}">
    </div>
</div>

<!-- Abbout us -->
<div class="row">
    <div class="col s12">
        <hr>
        <h2 class="center-align heading">About us</h2>
        <hr class="breakline">
        <div class="row">
            <div class="col l4 hide-on-med-and-down">
                <img class="responsive-img" src="{{ url_for('static', filename='images/about-us.svg')}}">
            </div>
            <div class="col l8">
                <p>Do you want to meet with fellow coders to expand your skills, network or portfollio? Look no further,
                    Codzilla is the platform for you.</p>
                <p>Join or organise events and meet new friends along the way around:</p>
                <ul class="fa-ul">
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>a group or
                        open-source project
                    </li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>a study group
                        to learn and
                        exapand on a specific language or framework</li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>a working
                        group to help each
                        others with CVs and cover letters</li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>a drink to
                        simply meet and
                        socialize</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Upcoming events -->
<div class="row">
    <div class="col s12">
        <hr>
        <h2 class="center-align heading">Upcoming events</h2>
        <hr class="breakline">
    </div>

    <div class="col s12 main-carousel">

        <div class="carousel-cell">
            <div class="div card">
                <div class="card-image">
                    <img
                        src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F141849303%2F393602250309%2F1%2Foriginal.20210716-133510?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C161%2C5164%2C2582&s=7579b88f869c4c8335aaed77efa60fe6">
                    <a class="btn-floating halfway-fab waves-effect waves-light btn-interest"><i
                            class="far fa-star"></i></a>
                </div>
                <div class="card-content">
                    <p class="date-time">Thurs, 20th July @ 14:00</p>
                    <p class="event-title">London code institute meetup</p>
                    <p class="organiser">Social by group 1</p>
                    <p class="location">Cafe Noir, 314 Kilburn ln, London, W9 3EF</p>
                    <div class="card-action">
                        <div class="row action-container">
                            <div class="col s6">
                                <p><i class="fas fa-user-circle attendees"></i>5 attendees</p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-attend" href="#">Attend</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-cell">
            <div class="div card">
                <div class="card-image">
                    <img
                        src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F141849303%2F393602250309%2F1%2Foriginal.20210716-133510?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C161%2C5164%2C2582&s=7579b88f869c4c8335aaed77efa60fe6">
                    <span class="btn-floating halfway-fab waves-effect waves-light btn-interest"><i
                            class="far fa-star"></i></span>
                </div>
                <div class="card-content">
                    <p class="date-time">Thurs, 20th July @ 14:00</p>
                    <p class="event-title">London code institute meetup</p>
                    <p class="organiser">Social by group 1</p>
                    <p class="location">Cafe Noir, 314 Kilburn ln, London, W9 3EF</p>
                    <div class="card-action">
                        <div class="row action-container">
                            <div class="col s6">
                                <p><i class="fas fa-user-circle attendees"></i>5 attendees</p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-attend" href="#">Attend</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-cell">
            <div class="card">
                <div class="card-image">
                    <img
                        src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F141849303%2F393602250309%2F1%2Foriginal.20210716-133510?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C161%2C5164%2C2582&s=7579b88f869c4c8335aaed77efa60fe6">
                    <span class="btn-floating halfway-fab waves-effect waves-light btn-interest"><i
                            class="far fa-star"></i></span>
                </div>
                <div class="card-content">
                    <p class="date-time">Thurs, 20th July @ 14:00</p>
                    <p class="event-title">London code institute meetup</p>
                    <p class="organiser">Social by group 1</p>
                    <p class="location">Cafe Noir, 314 Kilburn ln, London, W9 3EF</p>
                    <div class="card-action">
                        <div class="row action-container">
                            <div class="col s6">
                                <p><i class="fas fa-user-circle attendees"></i>5 attendees</p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-attend" href="#">Attend</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-cell">
            <div class="card">
                <div class="card-image">
                    <img
                        src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F141849303%2F393602250309%2F1%2Foriginal.20210716-133510?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C161%2C5164%2C2582&s=7579b88f869c4c8335aaed77efa60fe6">
                    <span class="btn-floating halfway-fab waves-effect waves-light btn-interest"><i
                            class="far fa-star"></i></span>
                </div>
                <div class="card-content">
                    <p class="date-time">Thurs, 20th July @ 14:00</p>
                    <p class="event-title">London code institute meetup</p>
                    <p class="organiser">Social by group 1</p>
                    <p class="location">Cafe Noir, 314 Kilburn ln, London, W9 3EF</p>
                    <div class="card-action">
                        <div class="row action-container">
                            <div class="col s6">
                                <p><i class="fas fa-user-circle attendees"></i>5 attendees</p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-attend" href="#">Attend</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- How it works -->
<div class="row">
    <div class="col s12">
        <hr>
        <h2 class="center-align heading">How it works</h2>
        <hr class="breakline">

        <h3 class="small-heading">As participant</h3>
        <ul class="fa-ul">
            <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Look for local
                meet-ups by
                entering
                your location to find events near you or keywords to find events
                around your centre of interest.</li>
            <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Just sign-in or
                register to
                join a
                meet-up.</li>
            <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Still unsure if you
                can make
                it,
                then
                simply register your interest and join later.</li>
        </ul>
        <div class="row">
            <div class="col m8">
                <h3 class="small-heading">As an organiser</h3>
                <p>Fancy organising a meet-up and connecting with fellow developers?</p>
                <ul class="fa-ul">
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Just click on
                        add event to set
                        the
                        date, the place, a description and topic.</li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Add a group
                        to organise regular
                        event
                        and grow your community</li>
                </ul>
            </div>
            <div class="col m4 img-event">
                <img class="responsive-img banner-image"
                    src="{{ url_for('static', filename='images/undraw_events.svg')}}">
            </div>
        </div>
    </div>
</div>

{% endblock %}