{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}

<!-- Header -->
<div class="row home-container">
    <div class="col s12 m6 center align">
        <h1>Hello World!</h1>
        <p>Meet, connect and develop with fellow coders. </p>
        <p>Find events near you!</p>
        <form id="search-home" action="{{ url_for('main.search') }}" method="POST">
            <div class="input-field col s12 center-align">
                <i class="fas fa-search material-icons prefix"></i>
                <input id="search-home" name="search" type="text" class="validate">
                <label for="search-home">search by location, topic, key words...</label>
            </div>
            <div class="col s12 center-align">
                <button class="btn contact-btn" type=submit name="submit">search</button>
                <a class="btn contact-btn" href="{{ url_for('main.home')}}">reset</a>
            </div>
        </form>
    </div>

    <div class="col s12 m6">
        <img class="responsive-img banner-image" src="{{ url_for('static', filename='images/support-team.svg')}}">
    </div>
</div>

<!-- Abbout us -->
<div class="row">
    <div class="col s12">
        <hr>
        <h2 class="center-align heading">About us</h2>
        <hr class="breakline">
        <div class="row">
            <div class="col l4 hide-on-med-and-down">
                <img class="responsive-img" src="{{ url_for('static', filename='images/about-us.svg')}}">
            </div>
            <div class="col l8">
                <p>Do you want to meet with fellow coders to expand your skills, network or portfollio? Look no further,
                    Codzilla is the platform for you.</p>
                <p>Join or organise events and meet new friends along the way around:</p>
                <ul class="fa-ul">
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>a group or
                        open-source project
                    </li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>a study group
                        to learn and
                        exapand on a specific language or framework</li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>a working
                        group to help each
                        others with CVs and cover letters</li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>a drink to
                        simply meet and
                        socialize</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Upcoming events -->
<div class="row">
    <div class="col s12">
        <hr>
        <h2 class="center-align heading">Upcoming events</h2>
        <hr class="breakline">
    </div>
    {% if events|length > 0 %}
    <div class="col s12 main-carousel">

        {% for event in events %}
        <div class="carousel-cell" id="cell-{{event._id}}">
            <div class="card">
                <div class="card-image">
                    <img src="{{ event.img_url }}">
                    {% if session.email %}
                    <a class="btn-floating halfway-fab btn-interest">
                        <i class="far fa-star"></i>
                    </a>
                    {% else %}
                    <a class="btn-floating halfway-fab btn-interest modal-trigger" href="#request-registration-modal">
                        <i class="far fa-star"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="card-content">
                    <p class="date-time">
                        <!-- https://support.sendwithus.com/jinja/jinja_time/ -->
                        {% if event.is_endtime == "true" %}
                        {{ event.date_start.strftime('%a %d %B %Y - %H:%M') }} to
                        {{event.date_end.strftime('%H:%M')}}
                        {% else %}
                        {{ event.date_start.strftime('%a %d %B %Y @ %H:%M') }}
                        {% endif %}
                    </p>
                    <!-- link to event page -->
                    <a class="page-link" href="{{ url_for('events.event', event_id=event._id)}}">
                        <p class="event-title">{{ event.event_title.capitalize() }}</p>
                    </a>
                    <p class="organiser">
                        {{ event.event_category.capitalize() }}
                        {% if event.group %}
                        by {{ event.group.capitalize()  }}
                        {% else %}
                        {% set creator = users|selectattr("_id", "equalto", event.created_by )|first %}
                        by {{ creator.first_name.capitalize()  }} {{creator.last_name.capitalize() }}
                        {% endif %}
                    </p>
                    <p class="location p-loc-home">
                        {% if event.event_type == "in person" %}
                        {{ event.event_location.capitalize() }}
                        {% else %}
                        {{ event.event_type.capitalize() }}
                        {% endif %}
                    </p>
                    <div class="card-action">
                        <div class="row action-container">
                            <div class="col s6">
                                <p><i class="fas fa-user-circle attendees"></i>
                                    {{ event.attendees|length }} attendee(s)
                                </p>
                            </div>
                            <div class="col s6 right-align btn-container">
                                {% if session.email %}
                                {% if event.created_by == user._id %}
                                 
                                 {% else%}
                                {% if event._id in events_attending %}
                                <button class="btn btn-attending" data-user="{{ user._id }}" 
                                data-event="{{ event._id}}">Attending</button>
                                <button class="btn btn-unattend hide" data-user="{{ user._id }}" 
                                data-event="{{ event._id}}">Unattend</button>
                                {% else %}
                                <button class="btn btn-attend" data-status="active" data-user="{{ user._id }}" 
                                data-event="{{ event._id}}">Attend</button>
                                {% endif %}
                                {% endif %}
                                
                                {% else %}
                                <a class="btn btn-attend modal-trigger" href="#request-registration-modal">Attend</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if events|length < total %}
        <!-- end cell if more events to be displayed -->
        <div class="carousel-cell">
            <div class="card">
                <div class="card-image last-card-image">
                    <img class="responsive-img" src="{{ url_for('static', filename='images/undraw_events.svg')}}">
                </div>
                <div class="card-content">
                    <p class="event-title center-align">There's more ...</p>
                    <div class="card-action">
                        <div class="row action-container">
                            <div class="col s12 center-align">
                                <a class="btn contact-btn" href="{{ url_for('main.browse_events_groups') }}">view all
                                    events</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="col s6 offset-s3">
        <img class="responsive-img" src="{{ url_for('static', filename='images/home_noevents.svg')}}">
    </div>
    <div class="col s12 center-align">
        <h3>Sorry there are no coming events</h3>
        <p>Why not sign-up today and add new events?</p>
        <a href="{{ url_for('auth.signup') }}" class="btn btn-send margin-top">Sign up</a>
    </div>
    {% endif %}
    <!-- modal request registration -->
    <div id="request-registration-modal" class="modal">
        <div class="row modal-content">
        <!-- closing button -->
        <i class="far fa-times-circle close-form modal-close"></i>
        <!-- modal content -->
            <div class="col s12 center-align">
                <h2>Sign in or register</h2>
                <hr class="breakline">
                <p>Please sign in or register to access this feature</p>
            </div>
        <!-- modal footer -->
            <div class="col s12 center-align border-top margin-top">
                <a href="{{ url_for('auth.login') }}" class="btn btn-send margin-top">sign in</a>
                <a href="{{ url_for('auth.signup') }}" class="btn btn-send margin-top">register</a>
                <a href="#" class="btn btn-send margin-top modal-close">cancel</a>
            </div>
        </div>
        <!-- end modal -->
    </div>
</div>

<!-- How it works -->
<div class="row">
    <div class="col s12">
        <hr>
        <h2 class="center-align heading">How it works</h2>
        <hr class="breakline">

        <h3 class="small-heading">As participant</h3>
        <ul class="fa-ul">
            <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Look for local
                meet-ups by
                entering
                your location to find events near you or keywords to find events
                around your centre of interest.</li>
            <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Just sign-in or
                register to
                join a
                meet-up.</li>
            <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Still unsure if you
                can make
                it,
                then
                simply register your interest and join later.</li>
        </ul>
        <div class="row">
            <div class="col m8">
                <h3 class="small-heading">As an organiser</h3>
                <p>Fancy organising a meet-up and connecting with fellow developers?</p>
                <ul class="fa-ul">
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Just click on
                        add event to set
                        the
                        date, the place, a description and topic.</li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Add a group
                        to organise regular
                        event
                        and grow your community</li>
                </ul>
            </div>
            <div class="col m4 img-event">
                <img class="responsive-img banner-image"
                    src="{{ url_for('static', filename='images/undraw_events.svg')}}">
            </div>
        </div>
    </div>
</div>

{% endblock %}