{% extends "base.html" %}
{% block title %}My events{% endblock %}

{% block content %}

<div class="row head-container">
    <div class="col s12 l8 offset-l2">
        <h1 class="center-align">My events</h1>
        <hr class="breakline">
    </div>
</div>

<!-- Tabs -->
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6 btn-tab"><a class="active" href="#view-events-organised">Organiser</a></li>
            <li class="tab col s6 btn-tab"><a href="#view-events-attending">Participant</a></li>
            <li class="tab col s6 btn-tab"><a href="#view-events-interested">Interested</a></li>
        </ul>
    </div>
</div>

<!-- Events as an organiser  -->
<div id="view-events-organised" class="row">
    <div class="col s12 m6">
        <h2>As an organiser</h2>
    </div>
    <div class="col s12 m6 col-add-group">
        <a href="" class="btn btn-send">Add an event</a>
    </div>

    {% if organising|length > 0 %}
    {% for event in organising %}
    <div class="col s12 margin-top">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ event.img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">

                    <!-- foating navigation -->
                    <a class="btn-floating halfway-fab waves-effect waves-light btn-interest hor-card-btn center-align dropdown-button dropdown-trigger"
                        data-activates="{{ event._id }}" data-beloworigin="true">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <ul id="{{ event._id}}" class='dropdown-content dropdown-for-btn z-depth-5'>
                        <li><a href="">Edit</a></li>
                        <li><a class="modal-trigger" id="" data-target=""
                                href="">Delete</a></li>
                    </ul>

                    <!-- event content -->
                    <p class="date-time">
                        <!-- https://support.sendwithus.com/jinja/jinja_time/ -->
                        {% if event.is_endtime %}
                        {{ event.date_start.strftime('%A %d %B %Y - %I:%M') }} to
                        {{event.date_end.strftime('%I:%M %p')}}
                        {% else %}
                        {{ event.date_start.strftime('%A %d %B %Y @ %I:%M %p') }}
                        {% endif %}
                    </p>
                    <p class="event-title">{{ event.event_title.capitalize() }}</p>
                    <p class="organiser">{{ event.event_category.capitalize() }}
                        {% if event.group != "" %}
                        by {{ event.group.capitalize()  }}
                        {% else %}
                        by {{ user.first_name.capitalize()  }} {{user.last_name.capitalize() }}
                        {% endif %}
                    </p>
                    <p class="location">
                        {% if event.event_type == "in person" %}
                        {{ event.event_location.capitalize() }}
                        {% else %}
                        {{ event.event_type.capitalize() }}
                        {% endif %}
                    </p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s6 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ event.attendees|length }} attendee(s)
                                </p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-send" href="#">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/undraw_events.svg')}}">
    </div>
    <div class="col s12 center-align">
        <h3>You dont't have any organised events</h3>
    </div>
    {% endif %}
</div>

<!-- Events as a participants -->
<div id="view-events-attending" class="row">
    <div class="col s12 m6">
        <h2>As a participant</h2>
    </div>
    {% if attending|length > 0 %}
    {% for event in attending %}
    <div class="col s12 margin-top">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ event.img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a class="btn-floating halfway-fab waves-effect waves-light btn-interest hor-card-btn"><i
                            class="far fa-star"></i></a>
                    <p class="date-time">
                        <!-- https://support.sendwithus.com/jinja/jinja_time/ -->
                        {% if event.is_endtime %}
                        {{ event.date_start.strftime('%A %d %B %Y - %I:%M') }} to
                        {{event.date_end.strftime('%I:%M %p')}}
                        {% else %}
                        {{ event.date_start.strftime('%A %d %B %Y @ %I:%M %p') }}
                        {% endif %}
                    </p>
                    <p class="event-title">{{ event.event_title.capitalize() }}</p>
                    <p class="organiser">{{ event.event_category.capitalize() }}
                        {% if event.group != "" %}
                        by {{ event.group.capitalize()  }}
                        {% else %}
                        by {{ user.first_name.capitalize()  }} {{user.last_name.capitalize() }}
                        {% endif %}
                    </p>
                    <p class="location">
                        {% if event.event_type == "in person" %}
                        {{ event.event_location.capitalize() }}
                        {% else %}
                        {{ event.event_type.capitalize() }}
                        {% endif %}
                    </p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s6 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ event.attendees|length }} attendee(s)
                                </p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-attend" href="#">Attend</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/undraw_events.svg')}}">
    </div>
    <div class="col s12 center-align">
        <h3>You are not attending any events</h3>
        <a href="{{ url_for('main.browse_events_groups')}}" class="btn btn-send">Browse groups & events</a>
    </div>

    {% endif %}
</div>

<!-- Events I'm interested in -->
<div id="view-events-interested" class="row">
    <div class="col s12 m6">
        <h2>Events I'm interested in</h2>
    </div>
    {% if interesting|length > 0 %}
    {% for event in interesting %}
    <div class="col s12 margin-top">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ event.img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a class="btn-floating halfway-fab waves-effect waves-light btn-interest hor-card-btn"><i
                            class="far fa-star"></i></a>
                    <p class="date-time">
                        <!-- https://support.sendwithus.com/jinja/jinja_time/ -->
                        {% if event.is_endtime %}
                        {{ event.date_start.strftime('%A %d %B %Y - %I:%M') }} to
                        {{event.date_end.strftime('%I:%M %p')}}
                        {% else %}
                        {{ event.date_start.strftime('%A %d %B %Y @ %I:%M %p') }}
                        {% endif %}
                    </p>
                    <p class="event-title">{{ event.event_title.capitalize() }}</p>
                    <p class="organiser">{{ event.event_category.capitalize() }}
                        {% if event.group != "" %}
                        by {{ event.group.capitalize()  }}
                        {% else %}
                        by {{ user.first_name.capitalize()  }} {{user.last_name.capitalize() }}
                        {% endif %}
                    </p>
                    <p class="location">
                        {% if event.event_type == "in person" %}
                        {{ event.event_location.capitalize() }}
                        {% else %}
                        {{ event.event_type.capitalize() }}
                        {% endif %}
                    </p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s6 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ event.attendees|length }} attendee(s)
                                </p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-attend" href="#">Attend</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/undraw_events.svg')}}">
    </div>
    <div class="col s12 center-align">
        <h3>You haven't got any events bookmarked as interesting</h3>
        <a href="{{ url_for('main.browse_events_groups')}}" class="btn btn-send">Browse groups & events</a>
    </div>

    {% endif %}
</div>

{% endblock %}