{% extends "base.html" %}
{% block title %}My events{% endblock %}

{% block content %}

<div class="row head-container">
    <div class="col s12 l8 offset-l2">
        <h1 class="center-align">My events</h1>
        <hr class="breakline">
    </div>
</div>

<!-- Tabs -->
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li id="tab-organised" class="tab col s4 btn-tab"><a class="active" href="#view-events-organised">Organiser</a></li>
            <li id="tab-attending" class="tab col s4 btn-tab"><a href="#view-events-attending">Participant</a></li>
            <li id="tab-interested" class="tab col s4 btn-tab"><a href="#view-events-interested">Interested</a></li>
        </ul>
    </div>
</div>

<!-- Events as an organiser  -->
<div id="view-events-organised" class="row">
    <div class="col s12 m6">
        <h2>As an organiser</h2>
    </div>
    <div class="col s12 m6 col-add-group">
        <a href="{{ url_for('events.add_event', group_id=None) }}" class="btn btn-send">Add an event</a>
    </div>

    {% if organising|length > 0 %}
    {% for event in organising %}
    <div class="col s12 margin-top">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ event.img_url }}" alt="event cover image for {{event.event_title}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <!-- event content -->
                    <p class="date-time">
                        <!-- https://support.sendwithus.com/jinja/jinja_time/ -->
                        {% if event.is_endtime == "true" %}
                        {{ event.date_start.strftime('%a %d %B %Y - %H:%M') }} to
                        {{event.date_end.strftime('%H:%M')}}
                        {% else %}
                        {{ event.date_start.strftime('%a %d %B %Y @ %H:%M') }}
                        {% endif %}
                    </p>
                    <a class="page-link" href="{{ url_for('events.event', event_id=event._id)}}">
                        <p class="event-title">{{ event.event_title.capitalize() }}</p>
                    </a>
                    <p class="organiser">{{ event.event_category.capitalize() }}
                        {% if event.group %}
                        by {{ event.group.capitalize()  }}
                        {% else %}
                        by {{ user.first_name.capitalize()  }} {{user.last_name.capitalize() }}
                        {% endif %}
                    </p>
                    <p class="location">
                        {% if event.event_type == "in person" %}
                        {{ event.event_location.capitalize() }}
                        {% else %}
                        {{ event.event_type.capitalize() }}
                        {% endif %}
                    </p>
                    <div class="card-action">
                        <div class="row action-container">
                            <div class="col s12 m5">
                                {% if event.status == "active" %}
                                <p><i class="fas fa-user-circle attendees"></i>{{ event.attendees|length }} attendee(s)
                                </p>
                                {% else %}
                                <p class="left-align red-text text-darken-4 cancelled-cont">Cancelled</p>
                                {% endif %}
                            </div>
                            <div class="col s12 m7 small-pd-top align-right-md">
                                <a class="btn btn-send mg-right"
                                    href="{{ url_for('events.edit_event', event_id=event._id) }}">Edit</a>
                                {% if event.status == "active" %}
                                <a class="btn btn-send modal-trigger"
                                    href="#cancel-confirmation-{{ event._id }}">Cancel</a>
                                {% else %}
                                <a class="btn btn-send modal-trigger"
                                    href="#delete-confirmation-{{ event._id }}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal cancel confirmation -->
        <div id="cancel-confirmation-{{ event._id }}" class="modal">
            <div class="row modal-content">
                <div class="col s12 center-align">
                    <h2>Cancel event confirmation</h2>
                    <hr class="breakline">
                    <p>Are you sure you want to cancel the following event?</p>
                    <p><b>{{ event.event_title }}</b></p>
                </div>
                <!-- form cancel event -->
                <form id="form-cancel-event" class="col s12 center-align p-separator" method="POST"
                    action="{{ url_for('events.cancel_event', event_id=event._id) }}">
                    <button class="btn btn-send margin-top" type="submit">confirm</button>
                    <a href="#" class="btn btn-send margin-top modal-close">cancel</a>
                </form>
            </div>
        </div>
        <!-- modal delete confirmation -->
        <div id="delete-confirmation-{{ event._id }}" class="modal">
            <div class="row modal-content">
                <div class="col s12 center-align">
                    <h2>Delete event confirmation</h2>
                    <hr class="breakline">
                    <p>Are you sure you want to delete the following event?</p>
                    <p><b>{{ event.event_title }}</b></p>
                </div>
                <!-- form delete event -->
                <form id="form-delete-event" class="col s12 center-align p-separator" method="POST"
                    action="{{ url_for('events.delete_event', event_id=event._id) }}">
                    <button class="btn btn-send margin-top" type="submit">confirm</button>
                    <a href="#" class="btn btn-send margin-top modal-close">cancel</a>
                </form>
            </div>
        </div>
        <!--end section-->
    </div>

    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/undraw_events.svg')}}"
            alt="illustration add to calendar">
    </div>
    <div class="col s12 center-align">
        <h3>You dont't have any organised events</h3>
    </div>
    {% endif %}

</div>

<!-- Events as a participant -->
<div id="view-events-attending" class="row">
    <div class="col s12 m6">
        <h2>As a participant</h2>
    </div>
    {% if attending|length > 0 %}
    {% for event in attending %}
    <div class="col s12 margin-top">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ event.img_url }}" alt="event cover image for {{event.event_title}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <!-- floating bookmark button -->
                    {% if event._id in user["events_interest"] %}
                    <a class="btn-floating halfway-fab btn-interested hor-card-btn" data-status="active"
                        data-user="{{ user._id }}" data-event="{{ event._id}}"><i class="far fa-star"></i></a>
                    {% else %}
                    <a class="btn-floating halfway-fab btn-interest hor-card-btn" data-status="active"
                        data-user="{{ user._id }}" data-event="{{ event._id}}"><i class="far fa-star"></i></a>
                    {% endif %}
                    <!-- end floating button -->
                    <p class="date-time">
                        <!-- https://support.sendwithus.com/jinja/jinja_time/ -->
                        {% if event.is_endtime %}
                        {{ event.date_start.strftime('%a %d %B %Y - %H:%M') }} to
                        {{event.date_end.strftime('%H:%M')}}
                        {% else %}
                        {{ event.date_start.strftime('%a %d %B %Y @ %H:%M') }}
                        {% endif %}
                    </p>
                    <a class="page-link" href="{{ url_for('events.event', event_id=event._id)}}">
                        <p class="event-title">{{ event.event_title.capitalize() }}</p>
                    </a>
                    <p class="organiser">{{ event.event_category.capitalize() }}
                        {% if event.group != "" %}
                        {% if event.group is not none %}
                        by {{ event.group.capitalize()  }}
                        {% endif %}
                        {% else %}
                        {% set creator = users|selectattr("_id", "equalto", event.created_by )|first %}
                        by {{ creator.first_name.capitalize()  }} {{creator.last_name.capitalize() }}
                        {% endif %}
                    </p>
                    <p class="location">
                        {% if event.event_type == "in person" %}
                        {{ event.event_location.capitalize() }}
                        {% else %}
                        {{ event.event_type.capitalize() }}
                        {% endif %}
                    </p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s6 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ event.attendees|length }} attendee(s)
                                </p>
                            </div>
                            <div class="col s6 right-align">
                                <!-- dynamic event actions -->
                                {% if event._id in user["events_attending"] %}
                                <button class="btn btn-attending" data-user="{{ user._id }}"
                                    data-event="{{ event._id}}">Attending</button>
                                <button class="btn btn-unattend hide" data-user="{{ user._id }}"
                                    data-event="{{ event._id}}">Unattend</button>
                                {% else %}
                                <button class="btn btn-attend" data-status="active" data-user="{{ user._id }}"
                                    data-event="{{ event._id}}">Attend</button>
                                {% endif %}
                                <!-- end event action -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/undraw_events.svg')}}"
            alt="illustration add to calendar">
    </div>
    <div class="col s12 center-align">
        <h3>You are not attending any events</h3>
        <a href="{{ url_for('main.browse_events_groups')}}" class="btn btn-send">Browse groups & events</a>
    </div>

    {% endif %}
</div>

<!-- Events I'm interested in -->
<div class="row" id="view-events-interested">
    <div class="col s12 m6">
        <h2>Events I'm interested in</h2>
    </div>
    {% if interesting|length > 0 %}
    {% for event in interesting %}
    <div class="col s12 margin-top">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ event.img_url }}" alt="event cover image for {{event.event_title}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <!-- floating bookmark button -->
                    {% if event._id in user["events_interest"] %}
                    <a class="btn-floating halfway-fab btn-interested hor-card-btn" data-status="active"
                        data-user="{{ user._id }}" data-event="{{ event._id}}"><i class="far fa-star"></i></a>
                    {% else %}
                    <a class="btn-floating halfway-fab btn-interest hor-card-btn" data-status="active"
                        data-user="{{ user._id }}" data-event="{{ event._id}}"><i class="far fa-star"></i></a>
                    {% endif %}
                    <!-- end floating button -->
                    <p class="date-time">
                        <!-- https://support.sendwithus.com/jinja/jinja_time/ -->
                        {% if event.is_endtime %}
                        {{ event.date_start.strftime('%a %d %B %Y - %H:%M') }} to
                        {{event.date_end.strftime('%H:%M')}}
                        {% else %}
                        {{ event.date_start.strftime('%a %d %B %Y @ %H:%M') }}
                        {% endif %}
                    </p>
                    <a class="page-link" href="{{ url_for('events.event', event_id=event._id)}}">
                        <p class="event-title">{{ event.event_title.capitalize() }}</p>
                    </a>
                    <p class="organiser">{{ event.event_category.capitalize() }}
                        {% if event.group != "" %}
                        by {{ event.group.capitalize()  }}
                        {% else %}
                        {% set creator = users|selectattr("_id", "equalto", event.created_by )|first %}
                        by {{ creator.first_name.capitalize()  }} {{creator.last_name.capitalize() }}
                        {% endif %}
                    </p>
                    <p class="location">
                        {% if event.event_type == "in person" %}
                        {{ event.event_location.capitalize() }}
                        {% else %}
                        {{ event.event_type.capitalize() }}
                        {% endif %}
                    </p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s6 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ event.attendees|length }} attendee(s)
                                </p>
                            </div>
                            <div class="col s6 right-align">
                                <!-- dynamic event actions -->
                                {% if event._id in user["events_attending"] %}
                                <button class="btn btn-attending" data-user="{{ user._id }}"
                                    data-event="{{ event._id}}">Attending</button>
                                <button class="btn btn-unattend hide" data-user="{{ user._id }}"
                                    data-event="{{ event._id}}">Unattend</button>
                                {% else %}
                                <button class="btn btn-attend" data-status="active" data-user="{{ user._id }}"
                                    data-event="{{ event._id}}">Attend</button>
                                {% endif %}
                                <!-- end event action -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/undraw_events.svg')}}"
            alt="illustration add to calendar">
    </div>
    <div class="col s12 center-align">
        <h3>You haven't got any events bookmarked as interesting</h3>
        <a href="{{ url_for('main.browse_events_groups')}}" class="btn btn-send">Browse groups & events</a>
    </div>

    {% endif %}
</div>

{% endblock %}