{% extends "base.html" %}
{% block title %}My groups{% endblock %}

{% block content %}

<div class="row head-container">
    <div class="col s12 l8 offset-l2">
        <h1 class="center-align">My groups</h1>
        <hr class="breakline">
    </div>
</div>

<!-- Tabs -->
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6 btn-tab"><a class="active" href="#view-group-admin">owning</a></li>
            <li class="tab col s6 btn-tab"><a href="#view-group-member">following</a></li>
        </ul>
    </div>
</div>

<!-- Group admin -->
<div class="row">
    <div class="col s12">
        <h2>My groups as an owner</h2>
    </div>
    {% if groups_owned|length > 0 %}
    {% for group in groups_owned %}
    <div class="col s12">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ group.img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a class="page-link" href="{{ url_for('groups.group', group_id=group._id)}}">
                        <p class="event-title">{{ group.group_name.capitalize() }}</p>
                    </a>
                    <p class="location">{{ group.group_city.capitalize() }}, {{ group.group_country.capitalize() }}</p>

                    <p class="gp-description">{{ group.group_description.capitalize() }}</p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s12 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ group.group_members|length }}
                                    member(s)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    You don't own any group
    {% endif %}
</div>
<hr>

<!-- Group members-->
<div class="row">
    <div class="col s12">
        <h2>My groups as a member</h2>
    </div>
    {% if groups_following|length > 0 %}
    {% for group in groups_following %}
    <div class="col s12">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ group.img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a class="page-link" href="{{ url_for('groups.group', group_id=group._id)}}">
                        <p class="event-title">{{ group.group_name.capitalize() }}</p>
                    </a>
                    <p class="location">{{ group.group_city.capitalize() }}, {{ group.group_country.capitalize() }}</p>

                    <p class="gp-description">{{ group.group_description.capitalize() }}</p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s12 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ group.group_members|length }}
                                    member(s)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s12">
    You don't own any group
    </div>
    {% endif %}
</div>

{% endblock %}