{% extends "base.html" %}
{% block title %}My groups{% endblock %}

{% block content %}

<div class="row head-container">
    <div class="col s12 l8 offset-l2">
        <h1 class="center-align">My groups</h1>
        <hr class="breakline">
    </div>
</div>

<!-- Tabs -->
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6 btn-tab"><a class="active" href="#view-group-owning">owning</a></li>
            <li class="tab col s6 btn-tab"><a href="#view-group-following">following</a></li>
        </ul>
    </div>
</div>

<!-- Group admin -->
<div id="view-group-owning" class="row">
    <div class="col s12 m6">
        <h2>My groups as an owner</h2>
    </div>
    <div class="col s12 m6 col-add-group">
        <a href="{{ url_for('groups.add_group')}}" class="btn btn-send">Add a group</a>
    </div>
    <div class="col s12 center-align flashes">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endwith %}
    </div>
    {% if groups_owned|length > 0 %}
    {% for group in groups_owned %}
    <div class="col s12 margin-top">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ group.img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a class="btn-floating halfway-fab waves-effect waves-light btn-interest hor-card-btn center-align dropdown-button dropdown-trigger"
                        data-activates="{{ group._id }}" data-beloworigin="true">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <ul id="{{ group._id}}" class='dropdown-content dropdown-for-btn z-depth-5'>
                        <li><a href="{{ url_for('groups.edit_group', group_id=group._id) }}">Edit</a></li>
                        <li><a class="modal-trigger" id="{{group._id}}" data-target="delete-group-modal"
                                href="#delete-group-modal">Delete</a></li>
                    </ul>
                    <a class="page-link" href="{{ url_for('groups.group', group_id=group._id)}}">
                        <p class="event-title">{{ group.group_name.capitalize() }}</p>
                    </a>
                    <p class="location">{{ group.group_city.capitalize() }}, {{ group.group_country.capitalize() }}</p>

                    <p class="gp-description">{{ group.group_description.capitalize() }}</p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s16 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ group.group_members|length }}
                                    member(s)</p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-send"
                                    href="{{ url_for('groups.edit_group', group_id=group._id)}}">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/support-team.svg')}}">
    </div>
    <div class="col s12 center-align">
        <h3>You don't own any groups</h3>
    </div>
    {% endif %}
</div>

<!-- Group members-->
<div id="view-group-following" class="row">
    <div class="col s12">
        <h2>My groups as a member</h2>
    </div>
    {% if groups_following|length > 0 %}
    {% for group in groups_following %}
    <div class="col s12">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                <img class="horizontal-card-img" src="{{ group.img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a class="page-link" href="{{ url_for('groups.group', group_id=group._id)}}">
                        <p class="event-title">{{ group.group_name.capitalize() }}</p>
                    </a>
                    <p class="location">{{ group.group_city.capitalize() }}, {{ group.group_country.capitalize() }}</p>

                    <p class="gp-description">{{ group.group_description.capitalize() }}</p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s6 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ group.group_members|length }}
                                    member(s)</p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-attend" href="#">Unfollow</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/support-team.svg')}}">
    </div>
    <div class="col s12 center-align">
        <h3>You don't follow any groups </h3>
        <a href="{{ url_for('main.browse_events_groups')}}" class="btn btn-send">Browse groups & events</a>
    </div>
    {% endif %}
</div>

<!-- Delete group  -->
<div id="delete-group-modal" class="modal">
    <div class="modal-content">
        <!--Modal content -->
        <i class="far fa-times-circle close-form modal-close" data-group="close-modal" data-target="password-modal"></i>
        <h2 class="center-align">Delete group</h2>
        <hr class="breakline">
        <p class="center-align">Are you sure you want to delete <b id="modal-group-name">group</b>?

        </p>
        <!-- Buttons -->
        <div class="row">
            <div class="col s12 center-align margin-top">
                <a id="delete-group-btn" href="#" class="btn btn-send modal-close" data-group="">Delete</a>
                <button class="btn btn-send modal-close" type="button">Cancel</button>
            </div>
        </div>

    </div>
</div>

{% endblock %}