{% extends "base.html" %}
{% block title %}My groups{% endblock %}

{% block content %}

<div class="row head-container">
    <div class="col s12 l8 offset-l2">
        <h1 class="center-align">My groups</h1>
        <hr class="breakline">
    </div>
</div>

<!-- Tabs -->
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6 btn-tab"><a class="active" href="#view-group-owning">owning</a></li>
            <li class="tab col s6 btn-tab"><a href="#view-group-following">following</a></li>
        </ul>
    </div>
</div>

<!-- Group admin -->
<div class="row" id="view-group-owning">
    <div class="col s12 m6">
        <h2>My groups as an owner</h2>
    </div>
    <div class="col s12 m6 col-add-group">
        <a href="{{ url_for('groups.add_group')}}" class="btn btn-send">Add a group</a>
    </div>
    <div class="col s12 center-align flashes">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endwith %}
    </div>
    {% if groups_owned|length > 0 %}
    {% for group in groups_owned %}
    <div class="col s12 margin-top">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                {% if group.img_url == "" or group.img_url is none %}
                <img class="horizontal-card-img" src="{{ url_for('static', filename='images/group_default.png')}}"
                    width="368" height="173" alt="default event cover image">
                {% else %}
                <img class="horizontal-card-img" src="{{ group.img_url }}" width="368" height="173"
                    data-default="group" alt="group image cover for {{ group.group_name }}">
                {% endif %}
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a class="page-link" href="{{ url_for('groups.group', group_id=group._id)}}">
                        <p class="event-title">{{ group.group_name.capitalize() }}</p>
                    </a>
                    <p class="location">{{ group.group_city.capitalize() }}, {{ group.group_country.capitalize() }}</p>

                    <p class="gp-description">{{ group.group_description.capitalize() }}</p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s16 valign-wrapper">
                                <p><i class="fas fa-user-circle attendees"></i>{{ group.group_members|length }}
                                    member(s)</p>
                            </div>
                            <div class="col s6 right-align">
                                <a class="btn btn-send"
                                    href="{{ url_for('groups.edit_group', group_id=group._id)}}">Edit</a>
                                <a class="btn btn-send modal-trigger"
                                    href="#delete-confirmation-{{ group._id }}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal delete confirmation -->
        <div id="delete-confirmation-{{ group._id }}" class="modal">
            <div class="row modal-content">
                <div class="col s12 center-align">
                    <h2>Delete group confirmation</h2>
                    <hr class="breakline">
                    <p>Are you sure you want to delete the following group?</p>
                    <p><b>{{ group.group_name }}</b></p>
                </div>
                <!-- form delete event -->
                <form class="col s12 center-align p-separator" method="POST"
                    action="{{ url_for('groups.delete_group', group_id=group._id) }}">
                    <button class="btn btn-send margin-top" type="submit">confirm</button>
                    <a href="#" class="btn btn-send margin-top modal-close">cancel</a>
                </form>
            </div>
        </div>
        <!--end section-->
    </div>
    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/support-team.svg')}}"
            alt="illustration of a group of people around a computer">
    </div>
    <div class="col s12 center-align">
        <h3>You don't own any groups</h3>
    </div>
    {% endif %}
</div>

<!-- Group members-->
<div class="row" id="view-group-following">
    <div class="col s12">
        <h2>My groups as a member</h2>
    </div>
    {% if groups_following|length > 0 %}
    {% for group in groups_following %}
    <div class="col s12" id="card-{{ group._id }}">
        <div class="div card horizontal hoverable">
            <div class="card-image">
                {% if group.img_url == "" or group.img_url is none %}
                <img class="horizontal-card-img" src="{{ url_for('static', filename='images/group_default.png')}}"
                    width="368" height="173" alt="default event cover image">
                {% else %}
                <img class="horizontal-card-img" src="{{ group.img_url }}" width="368" height="173"
                    data-default="group" alt="group image cover for {{ group.group_name }}">
                {% endif %}
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a class="page-link" href="{{ url_for('groups.group', group_id=group._id)}}">
                        <p class="event-title">{{ group.group_name.capitalize() }}</p>
                    </a>
                    <p class="location">{{ group.group_city.capitalize() }}, {{ group.group_country.capitalize() }}</p>
                    <p class="gp-description">{{ group.group_description.capitalize() }}</p>
                    <div class="card-action">
                        <div class="row action-container valign-wrapper">
                            <div class="col s6 valign-wrapper">
                                <p>
                                    <i class="fas fa-user-circle attendees"></i>
                                    {{ group.group_members|length }} member(s)
                                </p>
                            </div>
                            <div class="col s6 right-align">
                                <!-- group members action -->
                                <button class="btn btn-following" data-user="{{ user._id }}"
                                    data-group="{{ group._id}}">Following</button>
                                <button class="btn btn-unfollow hide" data-user="{{ user._id }}"
                                    data-group="{{ group._id}}">Unfollow</button>
                                <!-- end group action -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="col s6 offset-s3 m4 offset-m4 margin-top">
        <img class="responsive-img" src="{{ url_for('static', filename='images/support-team.svg')}}"
            alt="Illustration of a group of people around a computer">
    </div>
    <div class="col s12 center-align">
        <h3>You don't follow any groups </h3>
        <a href="{{ url_for('main.browse_events_groups')}}" class="btn btn-send">Browse groups & events</a>
    </div>
    {% endif %}
</div>

<!-- Delete group  -->
<div id="delete-group-modal" class="modal">
    <div class="modal-content">
        <!--Modal content -->
        <i class="far fa-times-circle close-form modal-close" data-group="close-modal" data-target="password-modal"></i>
        <h2 class="center-align">Delete group</h2>
        <hr class="breakline">
        <p class="center-align">Are you sure you want to delete <b id="modal-group-name">group</b>?

        </p>
        <!-- Buttons -->
        <div class="row">
            <div class="col s12 center-align margin-top">
                <a id="delete-group-btn" href="#" class="btn btn-send modal-close" data-group="">Delete</a>
                <button class="btn btn-send modal-close" type="button">Cancel</button>
            </div>
        </div>

    </div>
</div>

{% endblock %}