{% extends "base.html" %}
{% block title %}Privacy policy{% endblock %}

{% block content %}
<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Privacy policy</h1>
        <hr class="breakline">
    </div>
</div>

<!-- Introduction -->
<h2>Introduction</h2>

<p>Coczilla takes your privacy and the protection of your personal data seriously.</p>

<p>This notice describes how we collect, store, transfer and use personal data. It tells you about your privacy rights
    and how the law protects you.
    In the context of the law and this notice, ‘personal data’ is information that clearly identifies you as an
    individual or which could be used to identify you if combined with other information. Acting in any way on personal
    data is referred to as ‘processing’.
    This notice applies to personal data collected through Codzilla.</p>

<p>Except as set out below, we do not share, or sell, or disclose to a third party, any information collected through
    our website.</p>

<!-- Personal data proocess -->
<h2>Personal data we process</h2>

The information we process about you includes information:
<ul class="browser-default">
    <li>you have directly provided to us</li>
    <li>as a result of monitoring how you use our website</li>
</ul>

<p>When you use our website, for example, when you create an account on our website, we ask you to provide personal
    data. This can be categorised into the following groups:</p>
<ul class="browser-default">
    <li>personal identifiers, such as your first and last names</li>
    <li>personal information, such as your city and country</li>
    <li>account information, including email and password used to access our website and our services</li>
    <li>records of communication between us including messages sent through our website such as queries, questions and
        answers about events on the platform.</li>
    <li>preferences that tell us what types of notifications you would like to receive on our website.</li>
    <li>we may also process your profile image, if you choose to provide one.</li>
</ul>

<!-- Using information provided -->
<h2>Collection and use of information you provide</h2>

<p>Our website allows you to post information with a view to that information being read, copied, downloaded, or used by
    other people. We reasonably assume that you consent for some of these information to be seen by others.</p>

<p>By using our website and our services, we process and display:</p>
<ul class="browser-default">
    <li>Events you have created</li>
    <li>Groups you have created</li>
    <li>Events you are taking part in may display your profile image and name</li>
    <li>Groups you are following may display your profile image and name</li>
    <li>information you contribute to our community, including questions and answers</li>
</ul>

<p>Some other information will be only visible to you:</p>
<ul class="browser-default">
    <li>Your profile page and your preferences for in-app notifications</li>
    <li>Your events that you are organising, participating and interested in</li>
    <li>Your groups that you are created and that you are following</li>
</ul>

<!-- Cookies -->
<h2>Cookies</h2>

<p>Cookies are small text files that are placed on your computer's hard drive by your web browser when you visit a
    website that uses them. They allow information gathered on one web page to be stored until it is needed for use at a
    later date.</p>

<p>We only use session cookies to allow registration to our website and do not collect any data. Once logged-out
    your email will be removed from the session cookie.</p>

<p>Your web browser should allow you to delete any cookie you choose. It should also allow you to prevent or limit their
    use.</p>

<p>If you choose not to use cookies or you prevent their use through your browser settings, you may not be able to use
    all the functionality of our website.</p>


<!-- Data security -->
<h2>Keeping Data secure</h2>

<p>We will use technical and organisational measures to safeguard your Data, for example:</p>

<ul class="browser-default">
    <li>access to your account is controlled by a password and a user name that is unique to you.</li>
    <li>we store your Data on secure servers.</li>
</ul>

<p>Technical and organisational measures include measures to deal with any suspected data breach. If you suspect any
    misuse or loss or unauthorised access to your Data, please let us know immediately by contacting us via the following e-mail
    address: codzilla.app@gmail.com.</p>

<!-- Data retention -->
<h2>Data retention</h2>

<p>Except as otherwise mentioned in this privacy notice, we keep your personal data only for as long as required by us:
</p>

<ul class="browser-default">
    <li>to provide you with the services you have requested</li>
    <li>to comply with other law, including for the period demanded by our tax authorities</li>
    <li>to support a claim or defence in court</li>
</ul>

<!-- Data protection rights -->
<h2>Your data protection rights</h2>

<p>Under data protection law, you have rights including:</p>

<ul class="browser-default">
    <li>Your right of access - You have the right to ask us for copies of your personal information.</li>
    <li>Your right to rectification - You have the right to ask us to rectify personal information you think is
        inaccurate. You also have the right to ask us to complete information you think is incomplete.</li>
    <li>Your right to erasure - You have the right to ask us to erase your personal information in certain
        circumstances.</li>
    <li>Your right to restriction of processing - You have the right to ask us to restrict the processing of your
        personal information in certain circumstances.</li>
    <li>Your right to object to processing - You have the the right to object to the processing of your personal
        information in certain circumstances.</li>
    <li>Your right to data portability - You have the right to ask that we transfer the personal information you gave us
        to another organisation, or to you, in certain circumstances.</li>
</ul>

<p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to
    respond to you.</p>

<p>Please contact us by email at codzilla.app@gmail.com if you wish to make a request.</p>

<!-- Review privacy policy -->
<h2>Review of this privacy policy</h2>

<p>We shall update this privacy notice from time to time as necessary.</p>

<!-- Contact us -->
<h2>Contact us</h2>

<p>Use our contact us form below or email us at codzilla.app@gmail.com further
    queries, request of copies of your personal information or complaints on how we deal with your personal information.
</p>


{% endblock %}