<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password email</title>
</head>
<body>
    <p><strong>Hello</strong></p>
    <p>Please find the link to reset your password:</p>
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">link to reset password</a>
    <p>Kind regards</p>
    <p>Codzilla team</p>
</body>
</html>