{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Reset password</h1>
        <hr class="breakline">
    </div>
</div>
<!-- Flash messages -->
<div class="row flashes">
    <div class="col s12 l6 center-align">
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    {% endwith %}
    </div>
</div>
 <!-- form-->
 <div class="row">
   <div class="col s12 l6">
        <form id="form-edit-password" class="modal-forms" method="POST" method="url_for{{ password_reset_request }}">
            <div class="row">
                <div class="input-field col s12">
                    <!-- https://regex101.com/ -->
                    <i class="password-visible far fa-eye" data-target="password"></i>
                    <input id="password" type="password" name="password" minlenght="8" maxlength="32"
                        pattern="^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@\-?~$%*^()~+=._])(?=\S+$).{8,32}$"
                        class="validate" required>
                    <label for="password">New Password</label>
                    <p class="helper-text">Eight or more characters with a mix of letters, numbers and symbols.</p>
                    <p class="error-text hide" for="password"></p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="password-visible far fa-eye" data-target="conf-new-pwd"></i>
                    <input id="conf-new-pwd" type="password" name="conf-new-pwd" data-target="password"
                        data-check="check" minlenght="8" maxlength="32"
                        pattern="^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@\-?~$%*^()~+=._])(?=\S+$).{8,32}$"
                        class="validate" required>
                    <label for="conf-new-pwd">Confirm new password</label>
                    <p class="error-text hide" for="conf-new-pwd"></p>
                </div>
            </div>
            <!-- Buttons -->
            <div class="row">
                <div class="col s12 center-align margin-top">
                    <button class="btn btn-send" type="submit" name="submit">Submit</button>
                    <button class="btn btn-send modal-close" type="button">Close</button>
                </div>
            </div>
        </form>
</div></div>
{% endblock %}